[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_pptpui
X-NetworkManager-Services=pptp
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagerment_pptpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=PPTP
Name[da]=PPTP
Name[de]=PPTP
Name[es]=PPTP
Name[fr]=PPTP
Name[hr]=PPTP
Name[is]=PPTP
Name[pa]=PPTP
Name[pt]=PPTP
Name[pt_BR]=PPTP
Name[sv]=PPTP
Name[tr]=PPTP
Name[uk]=PPTP
Name[wa]=PPTP
Name[x-test]=xxPPTPxx
Comment=PPTP Plugin
Comment[da]=PPTP-plugin
Comment[de]=PPTP-Modul
Comment[es]=Complemento de PPTP
Comment[fr]=Module PPTP
Comment[hr]=PPTP Priključak
Comment[pa]=PPTP ਪਲੱਗਇਨ
Comment[pt]='Plugin' de PPTP
Comment[pt_BR]=Plug-in PPTP
Comment[sv]=Insticksprogram för PPTP
Comment[tr]=PPTP Eklentisi
Comment[uk]=Додаток PPTP
Comment[wa]=Tchôke-divins PPTP
Comment[x-test]=xxPPTP Pluginxx
