[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_pptpui
X-NetworkManager-Services=pptp
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagerment_pptpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=PPTP
Name[en_GB]=PPTP
Name[pt]=PPTP
Name[uk]=PPTP
Comment=PPTP Plugin
Comment[en_GB]=PPTP Plugin
Comment[uk]=Додаток PPTP
