[Desktop Entry]
Name=Other
Name[cs]=Jiné
Name[da]=Andet
Name[de]=Sonstiges
Name[el]=Άλλο
Name[en_GB]=Other
Name[es]=Otro
Name[et]=Muu
Name[fi]=Muu
Name[fr]=Autre
Name[gl]=Outros
Name[nb]=Annet
Name[nds]=Anner
Name[nl]=Overig
Name[pa]=ਹੋਰ
Name[pt]=Outra
Name[pt_BR]=Outra
Name[sk]=Ostatné
Name[sv]=Övriga
Name[th]=อื่น ๆ
Name[tr]=Diğer
Name[uk]=Інше
Name[x-test]=xxOtherxx
Name[zh_TW]=其他
Comment=Configure the Network Management tool
Comment[cs]=Nastavit nástroj pro správu sítě
Comment[da]=Indstil værktøjet til netværkshåndtering
Comment[de]=Die Netzwerkverwaltung einrichten
Comment[el]=Ρύθμιση του εργαλείου διαχείρισης συνδέσεων
Comment[en_GB]=Configure the Network Management tool
Comment[es]=Configurar la herramienta de gestión de red
Comment[et]=Võrguhalduri seadistamine
Comment[fi]=Verkonhallinta-apuohjelman asetukset
Comment[fr]=Configurer l'outil de gestion du réseau
Comment[gl]=Configurar a utilidade de xestión da rede
Comment[nb]=Sett opp verktøyet for nettverksstyring
Comment[nds]=Dat Nettwark-Pleegwarktüüch instellen
Comment[nl]=Hulpmiddel voor netwerkbeheer instellen
Comment[pa]=ਨੈੱਟਵਰਕ ਪਰਬੰਧ ਟੂਲ ਸੰਰਚਨਾ
Comment[pt]=Configurar a ferramenta de Gestão da Rede
Comment[pt_BR]=Configurar a ferramenta de gerenciamento de rede
Comment[ro]=Configurează unealta de gestiune a rețelei
Comment[sk]=Nastavenie nástroja pre správu siete
Comment[sv]=Anpassa nätverkshanteringsverktyget
Comment[th]=ตั้งค่าเครื่องมือจัดการเครือข่าย
Comment[tr]=Ağ Yönetimi Aracını Yapılandır
Comment[uk]=Налаштувати інструмент керування мережею
Comment[x-test]=xxConfigure the Network Management toolxx
Comment[zh_TW]=設定網路管理工具
Type=Service
Exec=kcmshell4 kcm_networkmanagement_tray
Icon=preferences-other
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_networkmanagement_tray
X-KDE-FactoryName=kcm_networkmanagement_tray
Categories=Qt;KDE;X-KDE-settings-system;

