[Desktop Entry]
Name=Network Connections
Name[x-test]=xxNetwork Connectionsxx
Comment=Add, Edit and Remove network connections
Comment[x-test]=xxAdd, Edit and Remove network connectionsxx
Type=Service
Exec=kcmshell4 kcm_networkmanagement
Icon=networkmanager
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_networkmanagement
X-KDE-FactoryName=kcm_networkmanagement
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=5
Categories=Qt;KDE;X-KDE-settings-system;

