[Desktop Entry]
Name=Wi-Fi
Name[sv]=Wifi
Comment=Configure a Wi-Fi connection
Comment[sv]=Anpassa en wifi-anslutning
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_knetworkmanager_wireless
X-KDE-FactoryName=kcm_knetworkmanager_wireless
X-KDE-ParentApp=knetworkmanager
X-KDE-ParentComponents=knetworkmanager


