[Desktop Entry]
Name=Network Settings
Name[be]=Настаўленні сеткі
Name[bg]=Мрежови настройки
Name[de]=Netzwerkeinstellungen
Name[el]=Ρυθμίσεις δικτύου
Name[es]=Preferencias de red
Name[et]=Võrguseadistused
Name[fr]=Paramètres du réseau
Name[ga]=Socruithe Líonra
Name[gl]=Configuración da rede
Name[ja]=ネットワークの設定
Name[km]=ការ​កំណត់​បណ្ដាញ
Name[lt]=Tinklo nustatymai
Name[nds]=Nettwark-Instellen
Name[nl]=Netwerkinstellingen
Name[oc]=Paramètres ret
Name[pa]=ਨੈੱਟਵਰਕ ਸੈਟਿੰਗ
Name[pl]=Ustawienia sieci
Name[pt]=Configuração da Rede
Name[pt_BR]=Configurações de Rede
Name[ro]=Configurări rețea
Name[ru]=Настройка сети
Name[sv]=Nätverksinställningar
Name[tr]=Ağ Ayarları
Name[uk]=Параметри мережі
Name[x-test]=xxNetwork Settingsxx
Comment=Configure network settings
Comment[de]=Netzwerkeinstellungen einrichten
Comment[el]=Διαμόρφωση ρυθμίσεων δικτύου
Comment[et]=Võrgu seadistamine
Comment[fr]=Configurer le réseau
Comment[ga]=Cumraigh socruithe an líonra
Comment[gl]=Configura a rede
Comment[ja]=ネットワークの設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​បណ្ដាញ
Comment[lt]=Konfigūruoti tinklo nustatymus
Comment[nds]=Nettwarkoptschonen instellen
Comment[nl]=Netwerkinstellingen configureren
Comment[pa]=ਨੈੱਟਵਰਕ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pt]=Configurar as opções de rede
Comment[pt_BR]=Configurar as opções de rede
Comment[ro]=Configurează rețeaua
Comment[ru]=Утилита настройки сети
Comment[sv]=Anpassa nätverksinställningar
Comment[tr]=Ağ ayarlarını yapılandır
Comment[uk]=Налаштуйте параметри мережі
Comment[x-test]=xxConfigure network settingsxx
Type=Service
Exec=kcmshell4 kcm_knetworkmanager
Icon=networkmanager
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_knetworkmanager
X-KDE-FactoryName=kcm_knetworkmanager
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system
Categories=Qt;KDE;X-KDE-settings-system;

