[Desktop Entry]
Name=Broadband
Name[sv]=Bredband
Comment=Configure a DSL connection
Comment[sv]=Anpassa en DSL-anslutning
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_knetworkmanager_cellular
X-KDE-FactoryName=kcm_knetworkmanager_cellular
X-KDE-ParentApp=knetworkmanager
X-KDE-ParentComponents=knetworkmanager


