[Desktop Entry]
Name=Network Settings
Name[ar]=تعيينات الشبكة
Name[bg]=Мрежови настройки
Name[br]=Kefluniadur ar Rouedad
Name[da]=Netværksindstillinger
Name[de]=Netzwerkeinstellungen
Name[el]=Ρυθμίσεις δικτύου
Name[es]=Preferencias de red
Name[et]=Võrguseadistused
Name[fr]=Paramètres du réseau
Name[ga]=Socruithe Líonra
Name[gl]=Configurazón da Rede
Name[ja]=ネットワークの設定
Name[nl]=Netwerkinstellingen
Name[pt]=Configuração da Rede
Name[pt_BR]=Configurações de Rede
Name[sv]=Nätverksinställningar
Name[xx]=xxNetwork Settingsxx
Comment=Configure network settings
Comment[sv]=Anpassa nätverksanslutningar
Type=Service
Exec=kcmshell4 kcm_knetworkmanager
Icon=networkmanager
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_knetworkmanager
X-KDE-FactoryName=kcm_knetworkmanager
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system
Categories=Qt;KDE;X-KDE-settings-system;

