[Desktop Entry]
Name=Network Connections
Name[cs]=Síťová spojení
Name[da]=Netværksforbindelser
Name[de]=Netzwerkverbindungen
Name[en_GB]=Network Connections
Name[es]=Conexiones de red
Name[et]=Võrguühendused
Name[gl]=Conexións de rede
Name[pt]=Ligações de Rede
Name[pt_BR]=Conexões de rede
Name[sv]=Nätverksanslutningar
Name[tr]=Ağ Bağlantıları
Name[uk]=Мережеві з'єднання
Name[x-test]=xxNetwork Connectionsxx
Comment=Add, Edit and Remove network connections
Comment[da]=Tilføj, redigér og fjern netværksforbindelser
Comment[de]=Netzwerkverbindungen hinzufügen, bearbeiten und entfernen
Comment[en_GB]=Add, Edit and Remove network connections
Comment[es]=Añadir, editar y borrar conexiones de red
Comment[et]=Võrguühenduste lisamine, muutmine ja eemaldamine
Comment[gl]=Engade, edita ou elimina conexións de rede
Comment[pt]=Adicionar, Editar e Remover as Ligações de Rede
Comment[pt_BR]=Adicionar, editar e remover conexões de rede
Comment[sv]=Lägg till, redigera och ta bort nätverksanslutningar
Comment[tr]=Ağ bağlantısı ekle, düzenle ve sil
Comment[uk]=Додати, змінити або вилучити мережеві з’єднання
Comment[x-test]=xxAdd, Edit and Remove network connectionsxx
Type=Service
Exec=kcmshell4 kcm_networkmanagement
Icon=networkmanager
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_networkmanagement
X-KDE-FactoryName=kcm_networkmanagement
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=5
Categories=Qt;KDE;X-KDE-settings-system;

