[Desktop Entry]
Name=Other
Name[ca]=Altra
Name[cs]=Jiné
Name[da]=Andet
Name[de]=Sonstiges
Name[es]=Otro
Name[et]=Muu
Name[hu]=Egyéb
Name[it]=Altro
Name[lt]=Kiti
Name[nb]=Andre
Name[nds]=Anner
Name[nl]=Overig
Name[pl]=Inne
Name[pt]=Outra
Name[pt_BR]=Outros
Name[sv]=Övriga
Name[tr]=Diğer
Name[uk]=Інше
Name[x-test]=xxOtherxx
Name[zh_TW]=其他
Comment=Configure the Network Management tool
Comment[ca]=Configura l'eina de gestió de xarxa
Comment[cs]=Nastavit nástroj pro správu sítě
Comment[da]=Indstil værktøjet til netværkshåndtering
Comment[de]=Die Netzwerkverwaltung einrichten
Comment[es]=Configurar la herramienta de gestión de red
Comment[et]=Võrguhalduri seadistamine
Comment[hu]=A Hálózatkezelő beállítása
Comment[it]=Configura lo strumento Gestione di rete
Comment[lt]=Konfigūruoti Tinklo valdymo įrankį
Comment[nb]=Sett opp verktøyet for nettverksstyring
Comment[nds]=Dat Nettwark-Pleegwarktüüch instellen
Comment[nl]=Hulpmiddel voor netwerkbeheer instellen
Comment[pl]=Konfiguruj narzędzie zarządzania siecią
Comment[pt]=Configurar a ferramenta de Gestão da Rede
Comment[pt_BR]=Configura a ferramenta de gerenciamento de redes
Comment[sv]=Anpassa nätverkshanteringsverktyget
Comment[uk]=Налаштувати інструмент керування мережею
Comment[x-test]=xxConfigure the Network Management toolxx
Comment[zh_TW]=設定網路管理工具
Type=Service
Exec=kcmshell4 kcm_networkmanagement_tray
Icon=preferences-other
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_networkmanagement_tray
X-KDE-FactoryName=kcm_networkmanagement_tray
Categories=Qt;KDE;X-KDE-settings-system;

