[Desktop Entry]
Name=Wired Connection
Comment=Configure a wired connection
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_knetworkmanager_wired
X-KDE-FactoryName=kcm_knetworkmanager_wired
X-KDE-ParentApp=knetworkmanager
X-KDE-ParentComponents=knetworkmanager


