[Desktop Entry]
Name=Network Manager
Name[et]=Võrguhaldur
Name[sv]=Nätverkshantering
Comment=Network Manager Plasmoid
Comment[et]=Võrguhalduri plasmoid
Comment[sv]=Plasmoid för nätverkshantering
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_networkmanager
X-KDE-PluginInfo-Author=Christopher Blauvelt
X-KDE-PluginInfo-Email=cblauvelt@gmail.com
X-KDE-PluginInfo-Name=networkmanager
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

