[Desktop Entry]
Name=NetworkManager User Settings Service
Name[da]=Tjeneste til brugerindstillinger for NetworkManager
Name[de]=Benutzereinstellungsdienst für NetworkManager
Name[el]=Υπηρεσία ρυθμίσεων διαχείρισης δικτύου χρήστη
Name[en_GB]=NetworkManager User Settings Service
Name[es]=Servicio de ajustes de usuario de NetworkManager
Name[et]=Võrguhalduri kasutaja seadistuste teenus
Name[fr]=Service de paramétrage de l'utilisateur pour NetworkManager
Name[gl]=Servizo de configuración de usuario de NetworkManager
Name[hr]=Usluga Upravitelja Mrežom za Korisničke Postavke
Name[ja]=NetworkManager のユーザ設定サービス
Name[km]=សេវា​កំណត់​អ្នក​ប្រើ​របស់​ NetworkManager
Name[nb]=Tjeneste for brukerinnstillinger i NetworkManager
Name[nds]=NetworkManager-Brukerinstellen-Deenst
Name[nl]=Service voor gebruikersinstellingen voor netwerkbeheer
Name[pa]=ਨੈੱਟਵਰਕ-ਮੈਨੇਜਰ ਯੂਜ਼ਰ ਸੈਟਿੰਗ ਸਰਵਿਸ
Name[pt]=Serviço de Configuração do Utilizador do NetworkManager
Name[pt_BR]=Serviço de configuração do usuário do NetworkManager
Name[sv]=Nätverkshanterarens användarinställningstjänst
Name[tr]=NetworkManager Kullanıcı Ayarları Servisi
Name[uk]=Служба параметрів користувача NetworkManager
Name[wa]=Siervice d' apontiaedje di l' uzeu po ManaedjeuRantoele
Name[x-test]=xxNetworkManager User Settings Servicexx
Comment=Provides network configuration to the NetworkManager daemon
Comment[da]=Leverer netværkskonfiguration af NetworkManager-dæmonen
Comment[de]=Stellt dem NetworkManager-Dienst eine Netzwerkeinrichtung zur Verfügung
Comment[el]=Προσφέρει ρυθμίσεις δικτύου με το δαίμονα διαχείρισης δικτύου
Comment[en_GB]=Provides network configuration to the NetworkManager dæmon
Comment[es]=Permite realizar configuraciones de red al demonio NetworkManager
Comment[et]=Võrguseadistuse edastamine võrguhalduri deemonile
Comment[fr]=Fournit la configuration réseau au démon du NetworkManager
Comment[gl]=Fornece configuración de rede ao daemon NetworkManager
Comment[hr]=Pruža konfiguraciju mreže usluzi Upravitelja Mrežama
Comment[ja]=NetworkManager デーモンにネットワークの設定を提供します
Comment[km]=ផ្ដល់​ការ​កំណត់​រចនាសម្ព័ន្ធ​បណ្ដាញ​ទៅ​ដេមិន NetworkManager
Comment[nb]=Forsyner NetworkManager-nissen med nettverksoppsett
Comment[nds]=Stellt Nettwarkinstellen över den NetworkManager-Dämoon praat
Comment[pa]=ਨੈੱਟਵਰਕਮੈਨੇਜਰ ਡੈਮੇਨ ਲਈ ਨੈੱਟਵਰਕ ਸੰਰਚਨਾ ਦਿੰਦੀ ਹੈ
Comment[pt]=Oferece a configuração da rede ao servidor do NetworkManager
Comment[pt_BR]=Fornece a configuração da rede para o daemon do NetworkManager
Comment[sv]=Tillhandahåller nätverksinställning för nätverkshanteringsdemonen
Comment[uk]=Надає налаштування мережі фоновій службі NetworkManager
Comment[wa]=Dene l' apontiaedje del rantoele å démon di ManaedjeuRantoele
Comment[x-test]=xxProvides network configuration to the NetworkManager daemonxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=knetworkmanager
X-KDE-DBus-ModuleName=knetworkmanager
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
OnlyShowIn=KDE
