[Desktop Entry]
Name=NetworkManager User Settings Service
Name[el]=Υπηρεσία ρυθμίσεων διαχείρισης δικτύου χρήστη
Name[et]=Võrguhalduri kasutaja seadistuste teenus
Name[fr]=Service de paramétrage de l'utilisateur pour NetworkManager
Name[gl]=Servizo de configuración de usuario de NetworkManager
Name[ja]=NetworkManager のユーザ設定サービス
Name[km]=សេវា​កំណត់​អ្នក​ប្រើ​របស់​ NetworkManager
Name[nds]=NetworkManager-Brukerinstellen-Deenst
Name[nl]=Service voor gebruikersinstellingen voor netwerkbeheer
Name[pa]=ਨੈੱਟਵਰਕ-ਮੈਨੇਜਰ ਯੂਜ਼ਰ ਸੈਟਿੰਗ ਸਰਵਿਸ
Name[pt]=Serviço de Configuração do Utilizador do NetworkManager
Name[pt_BR]=Serviço de Configuração do Utilizador do NetworkManager
Name[sv]=Nätverkshanterarens användarinställningstjänst
Name[tr]=NetworkManager Kullanıcı Ayarları Servisi
Name[uk]=Служба параметрів користувача NetworkManager
Name[x-test]=xxNetworkManager User Settings Servicexx
Comment=Provides network configuration to the NetworkManager daemon
Comment[el]=Προσφέρει ρυθμίσεις δικτύου με το δαίμονα διαχείρισης δικτύου
Comment[et]=Võrguseadistuse edastamine võrguhalduri deemonile
Comment[fr]=Fournit la configuration réseau au démon du NetworkManager
Comment[gl]=Fornece configuración de rede ao daemon NetworkManager
Comment[ja]=NetworkManager デーモンにネットワークの設定を提供します
Comment[km]=ផ្ដល់​ការ​កំណត់​រចនាសម្ព័ន្ធ​បណ្ដាញ​ទៅ​ដេមិន NetworkManager
Comment[nds]=Stellt Nettwarkinstellen över den NetworkManager-Dämoon praat
Comment[pt]=Oferece a configuração da rede ao servidor do NetworkManager
Comment[pt_BR]=Oferece a configuração da rede ao servidor do NetworkManager
Comment[sv]=Tillhandahåller nätverksinställning för nätverkshanteringsdemonen
Comment[uk]=Надає налаштування мережі фоновій службі NetworkManager
Comment[x-test]=xxProvides network configuration to the NetworkManager daemonxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=knetworkmanager
X-KDE-DBus-ModuleName=knetworkmanager
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
OnlyShowIn=KDE
