[Desktop Entry]
Name=NetworkManager User Settings Service
Name[pt]=Serviço de Configuração do Utilizador do NetworkManager
Name[pt_BR]=Serviço de Configuração do Utilizador do NetworkManager
Name[sv]=Nätverkshanterarens användarinställningstjänst
Name[uk]=Служба параметрів користувача NetworkManager
Name[x-test]=xxNetworkManager User Settings Servicexx
Comment=Provides network configuration to the NetworkManager daemon
Comment[pt]=Oferece a configuração da rede ao servidor do NetworkManager
Comment[pt_BR]=Oferece a configuração da rede ao servidor do NetworkManager
Comment[sv]=Tillhandahåller nätverksinställning för nätverkshanteringsdemonen
Comment[uk]=Надає налаштування мережі фоновій службі NetworkManager
Comment[x-test]=xxProvides network configuration to the NetworkManager daemonxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=knetworkmanager
X-KDE-DBus-ModuleName=knetworkmanager
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

