[Desktop Entry]
Name=Network Management
Name[cs]=Správa sítě
Name[da]=Netværkshåndtering
Name[de]=Netzwerkverwaltung
Name[es]=Gestión de red
Name[fr]=Gestion de réseau
Name[hu]=Hálózatkezelés
Name[ms]=Pengurusan Rangkaian
Name[nb]=Nettverksstyring
Name[nds]=Nettwarkpleeg
Name[nl]=Netwerkbeheer
Name[pt]=Gestão de Rede
Name[pt_BR]=Gerenciamento de redes
Name[sk]=Správa siete
Name[sl]=Omrežno upravljanje
Name[sv]=Nätverkshantering
Name[th]=การจัดการเครือข่าย
Name[uk]=Керування мережею
Name[x-test]=xxNetwork Managementxx
Comment=Network status and control utility
Comment[da]=Værktøj til netværksstatus og -kontrol
Comment[de]=Dienstprogramm für Netzwerkstatus und -kontrolle
Comment[es]=Utilidad de estado y control de la red
Comment[fr]=Utilitaire d'état et de contrôle de réseau
Comment[ms]=Utiliti kawalan dan status rangkaian
Comment[nb]=Verktøy for nettverksstatus og styring
Comment[nds]=Warktüüch för den Nettwarkstatus un sien Kuntrull
Comment[nl]=Netwerkstatus en besturingsprogramma
Comment[pt]=Utilitário de estado e controlo da rede
Comment[pt_BR]=Utilitário de controle e status da rede
Comment[sk]=Nástroj na riadenie a stav siete
Comment[sl]=Orodje za pregled omrežnega stanja in nadzor
Comment[sv]=Verktyg för nätverksstatus och kontroll
Comment[th]=โปรแกรมสำหรับดูสถานะและควบคุมเครือข่าย
Comment[uk]=Інструмент стеження за станом і керування мережею
Comment[x-test]=xxNetwork status and control utilityxx
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=networkmanager

X-KDE-Library=plasma_applet_networkmanagement
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=org.kde.networkmanagement
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

