[Desktop Entry]
Name=Network Management
Name[cs]=Správa sítě
Name[da]=Netværkshåndtering
Name[de]=Netzwerkverwaltung
Name[en_GB]=Network Management
Name[es]=Gestión de red
Name[et]=Võrguhaldur
Name[pt]=Gestão de Rede
Name[sv]=Nätverkshantering
Name[tr]=Ağ Yönetimi
Name[uk]=Керування мережею
Name[x-test]=xxNetwork Managementxx
Comment=Network status and control utility
Comment[da]=Værktøj til netværksstatus og -kontrol
Comment[de]=Dienstprogramm für Netzwerkstatus und -kontrolle
Comment[en_GB]=Network status and control utility
Comment[es]=Estado de la red y utilidad de control
Comment[et]=Võrgu oleku ja juhtimise tööriist
Comment[pt]=Utilitário de estado e controlo da rede
Comment[sv]=Verktyg för nätverksstatus och kontroll
Comment[uk]=Інструмент стеження за станом і керування мережею
Comment[x-test]=xxNetwork status and control utilityxx
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=networkmanager

X-KDE-Library=plasma_applet_networkmanagement
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagement
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

