[Desktop Entry]
Name=Networks
Name[el]=Δίκτυα
Name[gl]=Redes
Name[pt]=Redes
Name[pt_BR]=Redes
Name[sv]=Nätverk
Name[uk]=Мережі
Comment=Manage network connections
Comment[el]=Διαχείριση συνδέσεων δικτύου
Comment[gl]=Configura as conexóns de rede
Comment[pt]=Gerir as ligações de rede
Comment[pt_BR]=Gerir as ligações de rede
Comment[sv]=Hantera nätverksanslutningar
Comment[uk]=Керуйте мережевими з’єднаннями
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=networkmanager

X-KDE-Library=plasma_applet_networkmanager
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanager
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

