[Desktop Entry]
Name=Networks
Name[de]=Netzwerke
Name[el]=Δίκτυα
Name[fr]=Réseaux
Name[gl]=Redes
Name[ja]=ネットワーク
Name[lt]=Tinklai
Name[pt]=Redes
Name[pt_BR]=Redes
Name[sv]=Nätverk
Name[uk]=Мережі
Name[x-test]=xxNetworksxx
Comment=Manage network connections
Comment[el]=Διαχείριση συνδέσεων δικτύου
Comment[fr]=Gérer les connexions réseau
Comment[gl]=Configura as conexóns de rede
Comment[ja]=ネットワーク接続の管理
Comment[lt]=Tvarkyti tinklo ryšius
Comment[pt]=Gerir as ligações de rede
Comment[pt_BR]=Gerir as ligações de rede
Comment[sv]=Hantera nätverksanslutningar
Comment[uk]=Керуйте мережевими з’єднаннями
Comment[x-test]=xxManage network connectionsxx
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=networkmanager

X-KDE-Library=plasma_applet_networkmanager
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanager
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

