[Desktop Entry]
Name=Network Management
Name[ar]=إدارة الشبكة
Name[bs]=Upravljanje mrežom
Name[ca]=Gestió de xarxa
Name[cs]=Správa sítě
Name[da]=Netværkshåndtering
Name[de]=Netzwerkverwaltung
Name[es]=Gestión de red
Name[et]=Võrguhaldus
Name[fi]=Verkonhallinta
Name[fr]=Gestion de réseau
Name[ga]=Bainisteoireacht an Líonra
Name[gl]=Xestión da rede
Name[hu]=Hálózatkezelő
Name[ia]=Gestion de rete
Name[it]=Gestione di rete
Name[kk]=Желі басқаруы
Name[km]=ការ​គ្រប់គ្រង​បណ្ដាញ
Name[lt]=Tinklo valdymas
Name[mr]=संजाळ व्यवस्थापन
Name[nb]=Nettverksstyring
Name[nds]=Nettwarkpleeg
Name[nl]=Netwerkbeheer
Name[pl]=Zarządzanie siecią
Name[pt]=Gestão de Rede
Name[pt_BR]=Gerenciamento de redes
Name[ro]=Gestiunea rețelei
Name[ru]=Управление сетью
Name[sk]=Správa siete
Name[sl]=Omrežno upravljanje
Name[sr]=управљање мрежом
Name[sr@ijekavian]=управљање мрежом
Name[sr@ijekavianlatin]=upravljanje mrežom
Name[sr@latin]=upravljanje mrežom
Name[sv]=Nätverkshantering
Name[tr]=Ağ Yönetimi
Name[uk]=Керування мережею
Name[x-test]=xxNetwork Managementxx
Name[zh_CN]=网络管理
Name[zh_TW]=網路管理
Comment=Network status and control utility
Comment[ar]=أداة للتحكم و مراقبة الشبكة
Comment[bs]=Alat za kontrolu i prikaz stanja mreže
Comment[ca]=Utilitat de control i estat de la xarxa
Comment[cs]=Nástroj stavu a ovládání sítě
Comment[da]=Værktøj til netværksstatus og -kontrol
Comment[de]=Dienstprogramm für Netzwerkstatus und -kontrolle
Comment[es]=Estado de la red y utilidad de control
Comment[et]=Võrgu oleku ja juhtimise tööriist
Comment[fi]=Verkon tila- ja hallintatyökalu
Comment[fr]=Utilitaire d'état et de contrôle de réseau
Comment[gl]=Utilidade de monitorización e control da rede.
Comment[hu]=Hálózatkezelő segédprogram
Comment[ia]=Utilitate de controlo e stato de rete
Comment[it]=Stato della rete e strumento di controllo
Comment[kk]=Желі күй-жайы мен оны басқару утилитасы
Comment[km]=ស្ថានភាព​បណ្ដាញ និង​ឧបករណ៍​ត្រួតពិនិត្យ
Comment[lt]=Tinklo būsenos ir kontrolės pagalbininkas
Comment[mr]=संजाळ स्थिती व नियंत्रण उपकार्यक्रम
Comment[nb]=Verktøy for nettverksstatus og styring
Comment[nds]=Warktüüch för den Nettwarkstatus un sien Kuntrull
Comment[nl]=Netwerkstatus en besturingsprogramma
Comment[pl]=Stan sieci i narzędzie kontroli
Comment[pt]=Utilitário de estado e controlo da rede
Comment[pt_BR]=Utilitário de controle e status da rede
Comment[ro]=Utilitar de gestiune și control al rețelei
Comment[ru]=Инструмент наблюдения состояния и управления сетью
Comment[sk]=Nástroj na riadenie a stav siete
Comment[sl]=Orodje za pregled omrežnega stanja in nadzor
Comment[sr]=Алатка за стање и управљање мрежом
Comment[sr@ijekavian]=Алатка за стање и управљање мрежом
Comment[sr@ijekavianlatin]=Alatka za stanje i upravljanje mrežom
Comment[sr@latin]=Alatka za stanje i upravljanje mrežom
Comment[sv]=Verktyg för nätverksstatus och kontroll
Comment[tr]=Ağ denetim ve durum izleme aracı
Comment[uk]=Інструмент стеження за станом і керування мережею
Comment[x-test]=xxNetwork status and control utilityxx
Comment[zh_CN]=网络状态和控制工具
Comment[zh_TW]=網路狀態與控制工具
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=networkmanager

X-KDE-Library=plasma_applet_networkmanagement
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=org.kde.networkmanagement
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

