[Desktop Entry]
Name=Networks
Name[de]=Netzwerke
Name[el]=Δίκτυα
Name[et]=Võrgud
Name[fr]=Réseaux
Name[gl]=Redes
Name[ja]=ネットワーク
Name[km]=បណ្ដាញ
Name[lt]=Tinklai
Name[nds]=Nettwarken
Name[nn]=Nettverk
Name[pa]=ਨੈੱਟਵਰਕ
Name[pt]=Redes
Name[pt_BR]=Redes
Name[ro]=Rețele
Name[sv]=Nätverk
Name[tr]=Ağlar
Name[uk]=Мережі
Name[x-test]=xxNetworksxx
Comment=Manage network connections
Comment[de]=Netzwerkverbindungen verwalten
Comment[el]=Διαχείριση συνδέσεων δικτύου
Comment[et]=Võrguühenduste haldus
Comment[fr]=Gérer les connexions réseau
Comment[gl]=Configura as conexóns de rede
Comment[ja]=ネットワーク接続の管理
Comment[km]=គ្រប់គ្រង​ការ​តភ្ជាប់​បណ្ដាញ
Comment[lt]=Tvarkyti tinklo ryšius
Comment[nds]=Nettwark-Verbinnen plegen
Comment[nn]=Handter nettverkssamband
Comment[pa]=ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਪਰਬੰਧ
Comment[pt]=Gerir as ligações de rede
Comment[pt_BR]=Gerir as ligações de rede
Comment[ro]=Gestionează conexiunile de rețea
Comment[sv]=Hantera nätverksanslutningar
Comment[tr]=Ağ bağlantılarını yönet
Comment[uk]=Керуйте мережевими з’єднаннями
Comment[x-test]=xxManage network connectionsxx
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=networkmanager

X-KDE-Library=plasma_applet_networkmanager
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanager
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

