[Desktop Entry]
Name=Network Manager (Alpha of an Alpha edition)
Name[gl]=Xestor da rede (Alfa dunha versión alfa)
Name[km]=កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ (អាល់ហ្វា​​នៃ​កា​រកែសម្រួល​អាល់ហ្វា)
Name[pt]=Gestor de Rede (Alpha de uma versão Alpha)
Name[pt_BR]=Gestor de Rede (Alpha de uma versão Alpha)
Name[ru]=Менеджер сети (тестовая версия)
Name[sv]=Nätverkshanterare (alfa av en alfautgåva)
Name[uk]=Керування мережею (Альфа альфа версії)
Comment=Configure network interfaces
Comment[gl]=Configura as interfaces de rede
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ចំណុច​ប្រទាក់​បណ្ដាញ
Comment[pt]=Configurar as interfaces de rede
Comment[pt_BR]=Configurar as interfaces de rede
Comment[sv]=Anpassa nätverksgränssnitt
Comment[uk]=Налаштуйте параметри мережі
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_networkmanager_alpha
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanager_alpha
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

