[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidNetworkManager

Comment=Network Management Backend
Comment[ca]=Dorsal de gestió de xarxa
Comment[cs]=Podpůrná vrstva pro správu sítě
Comment[da]=Backend til netværkshåndtering
Comment[de]=Backend zur Netzwerkverwaltung
Comment[hu]=Hálózatkezelő modul
Comment[nb]=Bakgrunnsmotor for nettverksstyring
Comment[nl]=Netwerkbeheer backend
Comment[pt]=Infra-Estrutura de Gestão da Rede
Comment[pt_BR]=Infraestrutura de gerenciamento de redes
Comment[sv]=Nätverkshanteringsgränssnitt
Comment[uk]=Програма керування мережею
Comment[x-test]=xxNetwork Management Backendxx

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

