[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidNetworkManager

Comment=Network Management Backend
Comment[bs]=Pozadina za upravljanje mrežom
Comment[ca]=Dorsal de gestió de xarxa
Comment[cs]=Podpůrná vrstva pro správu sítě
Comment[da]=Backend til netværkshåndtering
Comment[de]=Backend zur Netzwerkverwaltung
Comment[es]=Motor de gestión de red
Comment[et]=Võrgu haldamise taustaprogramm
Comment[fa]=پایانه پشتیبانی مدیریت شبکه
Comment[fi]=Verkonhallinnan taustaosa
Comment[fr]=Moteur de gestion de réseau
Comment[ga]=Inneall Bainisteoireachta Líonra
Comment[gl]=Infraestrutura de xestión da rede
Comment[hu]=Hálózatkezelő modul
Comment[ia]=Gestion  de retro-administration de rete
Comment[it]=Motore di gestione di rete
Comment[kk]=Желі басқару тетігі
Comment[km]=កម្មវិធី​ខាង​ក្រោយ​នៃ​ការ​គ្រប់គ្រង​បណ្ដាញ
Comment[mr]=संजाळ व्यवस्थापन बॅकएन्ड
Comment[nb]=Bakgrunnsmotor for nettverksstyring
Comment[nds]=Hülpprogramm för den Nettwark-Pleger
Comment[nl]=Netwerkbeheer backend
Comment[pl]=Silnik Zarządzania Siecią
Comment[pt]=Infra-Estrutura de Gestão da Rede
Comment[pt_BR]=Infraestrutura de gerenciamento de redes
Comment[ro]=Platformă de gestiune a rețelei
Comment[ru]=Служба Network Management
Comment[sk]=Backend pre správu siete
Comment[sl]=Zaledje za upravljanje z omrežji
Comment[sr]=Позадина управљања мрежом
Comment[sr@ijekavian]=Позадина управљања мрежом
Comment[sr@ijekavianlatin]=Pozadina upravljanja mrežom
Comment[sr@latin]=Pozadina upravljanja mrežom
Comment[sv]=Nätverkshanteringsgränssnitt
Comment[uk]=Програма керування мережею
Comment[x-test]=xxNetwork Management Backendxx
Comment[zh_CN]=网络管理后端
Comment[zh_TW]=網路管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

