[Desktop Entry]
Name=NetworkManager User Settings Service
Name[ar]=خدمة إعدادات المستخدم لمدير الشبكة
Name[bs]=Usluga Upravitelja Mrežom za Korisničke Postavke
Name[ca]=Servei d'arranjament de l'usuari del NetworkManager
Name[cs]=Služba uživatelského nastavení NetworkManageru
Name[da]=Tjeneste til brugerindstillinger for NetworkManager
Name[de]=Benutzereinstellungsdienst für NetworkManager
Name[es]=Servicio de ajustes de usuario de NetworkManager
Name[et]=NetworkManageri kasutaja seadistuste teenus
Name[fi]=NetworkManagerin käyttäjäasetuspalvelu
Name[fr]=Service de configuration utilisateur pour NetworkManager
Name[gl]=Servizo de configuración do xestor da rede
Name[hu]=Hálózatkezelő felhasználói beállítások szolgáltatás
Name[ia]=Servicio de preferentias de usayor de NetworkManager
Name[it]=Servizio impostazioni utente di NetworkManager
Name[kk]=NetworkManager пайдаланушы параметрлер қызметі
Name[km]=សេវា​កម្ម​កំណត់​អ្នកប្រើ​របស់​កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Name[lt]=Tinklo tvarkyklės naudotojo nustatymų tarnyba
Name[mr]=संजाळ व्यवस्थापक वापरकर्ता संयोजना सेवा
Name[nb]=Tjeneste for brukerinnstillinger i NetworkManager
Name[nds]=Brukerinstellen-Deenst för Nettwarkpleeg
Name[nl]=Gebruikersinstellingenservice van netwerkbeheer
Name[pl]=Usługa ustawień użytkownika Zarządcy sieci
Name[pt]=Serviço de Configuração do Utilizador do NetworkManager
Name[pt_BR]=Serviço de configuração do usuário do NetworkManager
Name[ro]=Serviciu configurări utilizator NetworkManager
Name[ru]=Служба параметров пользователя NetworkManager
Name[sk]=Služba užívateľského nastavenia NetworkManagera
Name[sl]=Uporabniška storitev za nastavitev NetworkManagerja
Name[sr]=Сервис корисничких поставки Менаџера мреже
Name[sr@ijekavian]=Сервис корисничких поставки Менаџера мреже
Name[sr@ijekavianlatin]=Servis korisničkih postavki Menadžera mreže
Name[sr@latin]=Servis korisničkih postavki Menadžera mreže
Name[sv]=Nätverkshanterarens användarinställningstjänst
Name[tr]=NetworkManager Kullanıcı Ayarları Servisi
Name[uk]=Служба параметрів користувача NetworkManager
Name[x-test]=xxNetworkManager User Settings Servicexx
Name[zh_CN]=网络管理器用户设置服务
Name[zh_TW]=NetworkManager 使用者設定服務
Comment=Provides network configuration to the NetworkManager daemon
Comment[ar]=تقدم ضبط الشبكة مراقب مدير الشبكة
Comment[bs]=Pruža konfiguraciju mreže usluzi Upravljača Mrežama
Comment[ca]=Proporciona la configuració de xarxa al dimoni del Gestor de xarxa
Comment[cs]=Poskytuje síťovou konfiguraci démona NetworkManageru
Comment[da]=Leverer netværkskonfiguration af NetworkManager-dæmonen
Comment[de]=Stellt dem NetworkManager-Dienst eine Netzwerkeinrichtung zur Verfügung
Comment[es]=Proporciona configuración de redes al demonio NetworkManager
Comment[et]=Võrguseadistuse edastamine NetworkManageri deemonile
Comment[fi]=Tarjoaa verkon asettamisen NetworkManager-palveluun
Comment[fr]=Fournit une configuration réseau au démon NetworkManager
Comment[gl]=Configuración do daemon do xestor da rede.
Comment[hu]=Hálózati beállítások a NetworkManager démonhoz
Comment[ia]=Provide configuration de rete al demon NetworkManager
Comment[it]=Fornisce la configurazione di rete al demone NetworkManager
Comment[kk]=NetworkManager қызметі үшін желі параметрлері
Comment[km]=ផ្ដល់​កា​រកំណត់​រចនាសម្ព័ន្ធ​បណ្ដាញ​ទៅ​ដេមិន​កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Comment[lt]=Teikia tinklo konfigūraciją Tinklo tvarkyklės demonas
Comment[mr]=संजाळ व्यवस्थापक डीमनला संजाळ संयोजना पुरवितो
Comment[nb]=Forsyner NetworkManager-nissen med nettverksoppsett
Comment[nds]=Stellt Nettwarkinstellen över den Nettwarkpleger-Dämoon praat
Comment[nl]=Levert de netwerkconfiguratie voor de NetworkManager-daemon
Comment[pl]=Zapewnia konfigurację sieci dla demona Zarządcy sieci
Comment[pt]=Oferece a configuração da rede ao servidor do NetworkManager
Comment[pt_BR]=Fornece a configuração da rede ao daemon do NetworkManager
Comment[ro]=Furnizează configurări de rețea către demonul NetworkManager
Comment[ru]=Обеспечивает настройку сети для фоновой службы NetworkManager
Comment[sk]=Poskytuje nastavenie siete pre démona NetworkManager
Comment[sl]=Pritajenemu programu NetworkManager omogoča nastavljanje omrežja
Comment[sr]=Пружа подешавање мреже за демон Менаџера мреже
Comment[sr@ijekavian]=Пружа подешавање мреже за демон Менаџера мреже
Comment[sr@ijekavianlatin]=Pruža podešavanje mreže za demon Menadžera mreže
Comment[sr@latin]=Pruža podešavanje mreže za demon Menadžera mreže
Comment[sv]=Tillhandahåller nätverksinställning för nätverkshanteringsdemonen
Comment[tr]=NetworkManager servisine ağ ayarları sunar
Comment[uk]=Надає налаштування мережі фоновій службі NetworkManager
Comment[x-test]=xxProvides network configuration to the NetworkManager daemonxx
Comment[zh_CN]=为网络管理器守护进程提供网络配置
Comment[zh_TW]=提供 NetworkManager 伺服程式做網路管理
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=networkmanagement
X-KDE-DBus-ModuleName=networkmanagement
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
