[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidModemManager
X-KDE-Library=solid_modemmanager05
InitialPreference=105
Name=ModemManager 0.5
Name[ca]=ModemManager 0.5
Name[cs]=ModemManager 0.5
Name[da]=ModemManager 0.5
Name[de]=ModemManager 0.5
Name[es]=ModemManager 0.5
Name[fi]=ModemManager 0.5
Name[fr]=NetworkManager 0.5
Name[ia]=ModemManager 0.5
Name[kk]=ModemManager 0.5
Name[nl]=ModemManager 0.5
Name[pl]=ZarządcaModemu 0.5
Name[pt]=ModemManager 0.5
Name[pt_BR]=ModemManager 0.5
Name[ru]=ModemManager 0.5
Name[sk]=ModemManager 0.5
Name[sl]=ModemManager 0.5
Name[sr]=Менаџер модема 0.5
Name[sr@ijekavian]=Менаџер модема 0.5
Name[sr@ijekavianlatin]=Menadžer modema 0.5
Name[sr@latin]=Menadžer modema 0.5
Name[sv]=Modemhantering 0.5
Name[uk]=ModemManager 0.5
Name[x-test]=xxModemManager 0.5xx
Name[zh_TW]=數據機管理員 0.5
Comment=Network management using the ModemManager daemon, version 0.5
Comment[ca]=Gestor de xarxes que usa el dimoni ModemManager, versió 0.5
Comment[cs]=Správa sítě pomocí démona ModemManager, verze 0.5
Comment[da]=Netværkshåndtering med brug af ModemManager-dæmonen, version 0.5
Comment[de]=Netzwerkverwaltung mit dem NetworkManager-Dienst Version 0.5
Comment[es]=Gestión de redes que usa el demonio ModemManager, versión 0.5
Comment[fi]=Verkonhallinta ModemManager-taustapalvelun versiolla 0.5
Comment[fr]=Gestion de réseau utilisant le démon NetworkManager, version 0.5
Comment[ia]=Gestion de rete usante le demone ModemManager, version 0.5
Comment[kk]=ModemManager (нұсқасы 0.5) қызметі көмегімен желіні басқару
Comment[nl]=Netwerkbeheer met behulp van de ModemManager-daemon, versie 0.5
Comment[pl]=Zarządzanie siecią przy użyciu demona ZarządcyModemu w wersji 0.5
Comment[pt]=Gestão da rede que usa o serviço ModemManager na versão 0.5
Comment[pt_BR]=Gerenciamento de rede usando a versão 0.5 do serviço ModemManager
Comment[ru]=Управление сетью при помощи службы ModemManager версии 0.5
Comment[sk]=Správa sietí používajúca démon ModemManager verzie 0.5
Comment[sl]=Upravljanje z omrežji z uporabo odzadnjega programa ModemManager 0.5
Comment[sr]=Управљање модемом преко демона Менаџера модема, издања 0.5
Comment[sr@ijekavian]=Управљање модемом преко демона Менаџера модема, издања 0.5
Comment[sr@ijekavianlatin]=Upravljanje modemom preko demona Menadžera modema, izdanja 0.5
Comment[sr@latin]=Upravljanje modemom preko demona Menadžera modema, izdanja 0.5
Comment[sv]=Nätverkshantering med modemhanteringsdemonen, version 0.5
Comment[uk]=Керування мережею за допомогою фонової служби ModemManager, вер. 0.5
Comment[x-test]=xxNetwork management using the ModemManager daemon, version 0.5xx
Comment[zh_TW]=用數據機管理程式 v0.5 做網路管理
Icon=phone
