[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidModemManager
X-KDE-Library=solid_modemmanager05
InitialPreference=100
Name=ModemManager 0.5
Comment=Network management using the ModemManager daemon, version 0.5
Icon=phone
