[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_vpncui
X-NetworkManager-Services=vpnc
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagerment_vpncui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=VPNC
Name[cs]=VPNC
Name[da]=VPNC
Name[de]=VPNC
Name[el]=VPNC
Name[en_GB]=VPNC
Name[eo]=VPNC
Name[es]=VPNC
Name[et]=VPNC
Name[fr]=VPNC
Name[gl]=VPNC
Name[nb]=VPNC
Name[nds]=VPNC
Name[pa]=VPNC
Name[pt]=VPNC
Name[pt_BR]=VPNC
Name[ro]=VPNC
Name[sv]=VPNC
Name[tr]=VPNC
Name[uk]=VPNC
Name[x-test]=xxVPNCxx
Name[zh_TW]=VPNC
Comment=VPNC Plugin
Comment[cs]=Modul VPNC
Comment[da]=VPNC-plugin
Comment[de]=VPNC-Modul
Comment[el]=Πρόσθετο VPNC
Comment[en_GB]=VPNC Plugin
Comment[es]=Complemento VPNC
Comment[et]=VPNC plugin
Comment[fr]=Module VPNC
Comment[gl]=Extensión de VPNC
Comment[nb]=VPNC programtillegg
Comment[nds]=VPNC-Moduul
Comment[pa]=VPNC ਪਲੱਗਇਨ
Comment[pt]='Plugin' do VPNC
Comment[pt_BR]=Plug-in VPNC
Comment[ro]=Modul VPNC
Comment[sv]=Insticksprogram för VPNC
Comment[tr]=VPNC Eklentisi
Comment[uk]=Додаток VPNC
Comment[x-test]=xxVPNC Pluginxx
Comment[zh_TW]=VPNC 外掛程式
