[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_vpncui
X-NetworkManager-Services=org.freedesktop.NetworkManager.vpnc
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagerment_vpncui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=VPNC
Name[ca]=VPNC
Name[cs]=VPNC
Name[da]=VPNC
Name[de]=VPNC
Name[es]=VPNC
Name[hu]=VPNC
Name[it]=VPNC
Name[lt]=VPNC
Name[nb]=VPNC
Name[nds]=VPNC
Name[nl]=VPNC
Name[pl]=VPNC
Name[pt]=VPNC
Name[pt_BR]=VPNC
Name[sv]=VPNC
Name[tr]=VPNC
Name[uk]=VPNC
Name[x-test]=xxVPNCxx
Comment=VPNC Plugin
Comment[ca]=Connector de VPNC
Comment[cs]=Modul VPNC
Comment[da]=VPNC-plugin
Comment[de]=VPNC-Modul
Comment[es]=Complemento de VPNC
Comment[hu]=VPNC-modul
Comment[it]=Estensione VPNC
Comment[lt]=VPNC papildinys
Comment[nb]=VPNC programtillegg
Comment[nds]=VPNC-Moduul
Comment[nl]=VPNC-plugin
Comment[pl]=Wtyczka VPNC
Comment[pt]='Plugin' do VPNC
Comment[pt_BR]=Plug-in do VPNC
Comment[sv]=Insticksprogram för VPNC
Comment[tr]=VPNC Eklentisi
Comment[uk]=Додаток VPNC
Comment[x-test]=xxVPNC Pluginxx
