[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_vpncui
X-NetworkManager-Services=vpnc
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagerment_vpncui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=VPNC
Name[da]=VPNC
Name[de]=VPNC
Name[el]=VPNC
Name[en_GB]=VPNC
Name[es]=VPNC
Name[et]=VPNC
Name[fr]=VPNC
Name[ga]=VPNC
Name[gl]=VPNC
Name[hr]=VPNC
Name[is]=VPNC
Name[ja]=VPNC
Name[km]=VPNC
Name[lt]=VPNC
Name[nds]=VPNC
Name[nl]=VPNC
Name[nn]=VPNC
Name[pa]=VPNC
Name[pt]=VPNC
Name[pt_BR]=VPNC
Name[ro]=VPNC
Name[sv]=VPNC
Name[tr]=VPNC
Name[uk]=VPNC
Name[wa]=VPNC
Name[x-test]=xxVPNCxx
Comment=VPNC Plugin
Comment[da]=VPNC-plugin
Comment[de]=VPNC-Modul
Comment[el]=Πρόσθετο VPNC
Comment[en_GB]=VPNC Plugin
Comment[es]=Complemento de VPNC
Comment[et]=VPNC plugin
Comment[fr]=Module VPNC
Comment[ga]=Breiseán VPNC
Comment[gl]=Extensión de VPNC
Comment[hr]=VPNC Priključak
Comment[ja]=VPNC プラグイン
Comment[km]=កម្មវិធី​​ជំនួយ VPNC
Comment[lt]=VPNC priedas
Comment[nds]=VPNC-Moduul
Comment[nl]=VPNC-plugin
Comment[nn]=VPNC-tillegg
Comment[pa]=VPNC ਪਲੱਗਇਨ
Comment[pt]='Plugin' do VPNC
Comment[pt_BR]=Plug-in VPNC
Comment[ro]=Modul VPNC
Comment[sv]=Insticksprogram för VPNC
Comment[tr]=VPNC Eklentisi
Comment[uk]=Додаток VPNC
Comment[wa]=Tchôke-divins VPNC
Comment[x-test]=xxVPNC Pluginxx
