[Desktop Entry]
Name=Network Manager
Name[ar]=مدير الشبكة
Name[bs]=Upravitelj Mrežom
Name[ca]=Gestor de xarxa
Name[cs]=Správce sítě
Name[da]=Network Manager
Name[de]=Netzwerkverwaltung
Name[es]=Gestor de redes
Name[et]=Võrguhaldur
Name[fi]=Verkonhallinta
Name[fr]=Gestionnaire de réseau
Name[gl]=Xestor da rede
Name[hu]=Hálózatkezelő
Name[ia]=Network Manager (Gerente de Rete)
Name[it]=Gestore di rete
Name[kk]=Желі басқаруы
Name[km]=កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Name[lt]=Tinklo tvarkyklė
Name[mr]=संजाळ व्यवस्थापक
Name[nb]=Nettverksstyrer
Name[nds]=Nettwarkpleger
Name[nl]=Netwerkbeheerder
Name[pl]=Zarządca sieci
Name[pt]=Gestor da Rede
Name[pt_BR]=Gerenciador de redes
Name[ro]=Administrator de rețea
Name[ru]=Управление сетью
Name[sk]=Správca siete
Name[sl]=Upravljalnik omrežja
Name[sr]=Менаџер мреже
Name[sr@ijekavian]=Менаџер мреже
Name[sr@ijekavianlatin]=Menadžer mreže
Name[sr@latin]=Menadžer mreže
Name[sv]=Nätverkshanterare
Name[tr]=Ağ Yöneticisi
Name[uk]=Керування мережею
Name[x-test]=xxNetwork Managerxx
Name[zh_CN]=网络管理器
Name[zh_TW]=Network Manager
Comment=Network Manager data engine
Comment[ar]=محرك بيانات مدير الشبكة
Comment[bs]=Pogon za podatke upravitelja mrežom
Comment[ca]=Motor de dades del gestor de xarxa
Comment[cs]=Datový nástroj Správce sítě
Comment[da]=Datamotor til Network Manager
Comment[de]=Datenmodul der Netzwerkverwaltung
Comment[es]=Motor de datos del gestor de redes
Comment[et]=Võrguhalduri andmemootor
Comment[fi]=NetworkManager-tietomoottori
Comment[fr]=Moteur de données du gestionnaire de réseau
Comment[gl]=Motor de datos do xestor da rede.
Comment[hu]=Hálózatkezelő adatmodul
Comment[ia]=Motor de datos de Network Manager
Comment[it]=Motore dati del gestore di rete
Comment[kk]=Желіні басқару дерек тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ​កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Comment[lt]=Tinklo tvarkyklės duomenų variklis
Comment[mr]=संजाळ व्यवस्थापक डेटा इंजिन
Comment[nb]=Datamotor for nettverksstyring
Comment[nds]=Nettwarkpleger-Datenkarn
Comment[nl]=Gegevens-engine van netwerkbeheerder
Comment[pl]=Silnik danych Zarządcy sieci
Comment[pt]=Motor de dados da Gestão da Rede
Comment[pt_BR]=Mecanismo de dados do gerenciador de redes
Comment[ro]=Motor de date Administrator de rețea
Comment[ru]=Движок данных управления сетью
Comment[sk]=Dátový nástroj Správcu siete
Comment[sl]=Podatkovni pogon upravljalnika omrežja
Comment[sr]=Датомотор Менаџера мреже
Comment[sr@ijekavian]=Датомотор Менаџера мреже
Comment[sr@ijekavianlatin]=Datomotor Menadžera mreže
Comment[sr@latin]=Datomotor Menadžera mreže
Comment[sv]=Nätverkshanterarens datagränssnitt
Comment[tr]=Ağ Yöneticisi
Comment[uk]=Рушій даних керування мережею
Comment[x-test]=xxNetwork Manager data enginexx
Comment[zh_CN]=网络管理器数据引擎
Comment[zh_TW]=Network Manager 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=networkmanager
X-KDE-Library=plasma_engine_networkmanagement

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=networkmanagement
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=networkmanager
X-KDE-PluginInfo-Depends=

