[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_fakenet
InitialPreference=10
Icon=network-workgroup
Name=Fake Net
Name[ca]=Xarxa falsa
Name[cs]=Falešná síť
Name[da]=Falsk net
Name[de]=Netzwerk (Dummy)
Name[es]=Red simulada
Name[hu]=Hálózat (imitáció)
Name[it]=Rete finta
Name[nb]=Attrappnett
Name[nds]=Nettwark (Platzholler)
Name[nl]=Nep net
Name[pt]=Rede Falsa
Name[pt_BR]=Rede falsa
Name[sv]=Testnät
Name[uk]=Фальшива мережа
Name[x-test]=xxFake Netxx
Name[zh_TW]=Fake 網路
Comment=Fake Network Management
Comment[ca]=Gestió de xarxa falsa
Comment[cs]=Správa falešné sítě
Comment[da]=Falsk netværkshåndtering
Comment[de]=Netzwerkverwaltung (Dummy)
Comment[es]=Gestión de red simulada
Comment[hu]=Hálózatkezelés (imitáció)
Comment[it]=Gestione di una rete finta
Comment[nb]=Attrappnett-styring
Comment[nds]=Nettwark-Pleger (Platzholler)
Comment[nl]=Nep netwerkbeheer
Comment[pt]=Gestão da Rede Falsa
Comment[pt_BR]=Gerenciamento de rede falsa
Comment[sv]=Hantering av testnätverk
Comment[uk]=Керування фальшивою мережею
Comment[x-test]=xxFake Network Managementxx
Comment[zh_TW]=Fake 網路管理
