[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_fakenet
InitialPreference=10
Icon=network-workgroup
Name=Fake Net
Name[de]=Netzwerk (Dummy)
Name[pt]=Rede Falsa
Name[uk]=Фальшива мережа
Name[x-test]=xxFake Netxx
Comment=Fake Network Management
Comment[de]=Netzwerkverwaltung (Dummy)
Comment[pt]=Gestão da Rede Falsa
Comment[uk]=Керування фальшивою мережею
Comment[x-test]=xxFake Network Managementxx
