[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_fakenet
InitialPreference=10
Icon=network-workgroup
Name=Fake Net
Name[bs]=Lažna mreža
Name[ca]=Xarxa falsa
Name[cs]=Falešná síť
Name[da]=Falsk net
Name[de]=Netzwerk (Dummy)
Name[es]=Red simulada
Name[et]=Liba-võrk
Name[fa]=شبکه جعلی
Name[fi]=Valeverkko
Name[fr]=Réseau factice
Name[ga]=Líonra Bréige
Name[gl]=Rede falsa
Name[hu]=Hálózat (imitáció)
Name[ia]=Rete false
Name[it]=Rete finta
Name[kk]=Жалған Желі
Name[km]=បណ្ដាញ​ក្លែងក្លាយ
Name[mr]=खोटे संजाळ
Name[nb]=Attrappnett
Name[nds]=Nettwark (Platzholler)
Name[nl]=Nep net
Name[pl]=Fikcyjna sieć
Name[pt]=Rede Falsa
Name[pt_BR]=Rede falsa
Name[ro]=Rețea falsă
Name[ru]=Тестовая сеть
Name[sk]=Falošná sieť
Name[sl]=Lažno omrežje
Name[sr]=Лажна мрежа
Name[sr@ijekavian]=Лажна мрежа
Name[sr@ijekavianlatin]=Lažna mreža
Name[sr@latin]=Lažna mreža
Name[sv]=Testnät
Name[uk]=Фальшива мережа
Name[x-test]=xxFake Netxx
Name[zh_CN]=虚假网络
Name[zh_TW]=Fake 網路
Comment=Fake Network Management
Comment[bs]=Upravljanje lažnom mrežom
Comment[ca]=Gestió de xarxa falsa
Comment[cs]=Správa falešné sítě
Comment[da]=Falsk netværkshåndtering
Comment[de]=Netzwerkverwaltung (Dummy)
Comment[es]=Gestión de red simulada
Comment[et]=Liba-võrgu haldur
Comment[fa]=مدیریت شبکه جعلی
Comment[fi]=Valeverkonhallinta
Comment[fr]=Gestion de réseau factice
Comment[ga]=Bainisteoireacht Líonra Bréige
Comment[gl]=Xestión da rede falsa
Comment[hu]=Hálózatkezelés (imitáció)
Comment[ia]=Gestion de rete false
Comment[it]=Gestione di una rete finta
Comment[kk]=Жалған желі басқаруы
Comment[km]=ការ​គ្រប់គ្រង​បណ្ដាញ​ក្លែងក្លាយ
Comment[mr]=खोटे संजाळ व्यवस्थापन
Comment[nb]=Attrappnett-styring
Comment[nds]=Nettwark-Pleger (Platzholler)
Comment[nl]=Nep netwerkbeheer
Comment[pl]=Fikcyjne Zarządzanie Siecią
Comment[pt]=Gestão de Rede de Testes
Comment[pt_BR]=Gerenciamento de rede falsa
Comment[ro]=Gestiunea rețelei false
Comment[ru]=Управление тестовой сетью
Comment[sk]=Správa falošnej siete
Comment[sl]=Upravljanje z lažnimi omrežji
Comment[sr]=Лажно управљање мрежом
Comment[sr@ijekavian]=Лажно управљање мрежом
Comment[sr@ijekavianlatin]=Lažno upravljanje mrežom
Comment[sr@latin]=Lažno upravljanje mrežom
Comment[sv]=Hantering av testnätverk
Comment[uk]=Керування фальшивою мережею
Comment[x-test]=xxFake Network Managementxx
Comment[zh_CN]=虚假网络管理
Comment[zh_TW]=Fake 網路管理
