[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_strongswanui
X-NetworkManager-Services=strongswan
X-KDE-PluginInfo-Author=Maurus Rohrer
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagement_strongswanui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=StrongSwan
Name[cs]=StrongSwan
Name[da]=StrongSwan
Name[de]=StrongSwan
Name[el]=StrongSwan
Name[en_GB]=StrongSwan
Name[eo]=StrongSwan
Name[es]=StrongSwan
Name[et]=StrongSwan
Name[fi]=StrongSwan
Name[fr]=StrongSwan
Name[gl]=StrongSwan
Name[nb]=StrongSwan
Name[nds]=StrongSwan
Name[nl]=StrongSwan
Name[pa]=StrongSwan
Name[pt]=StrongSwan
Name[pt_BR]=StrongSwan
Name[ro]=StrongSwan
Name[sk]=StrongSwan
Name[sv]=StrongSwan
Name[tr]=StrongSwan
Name[uk]=StrongSwan
Name[x-test]=xxStrongSwanxx
Name[zh_TW]=StrongSwan
Comment=StrongSwan Plugin
Comment[cs]=Modul StrongSwan
Comment[da]=StrongSwan-plugin
Comment[de]=StrongSwan-Modul
Comment[el]=Πρόσθετο StrongSwan
Comment[en_GB]=StrongSwan Plugin
Comment[es]=Complemento StrongSwan
Comment[et]=StrongSwan plugin
Comment[fi]=StrongSwan-liitännäinen
Comment[fr]=Module StrongSwan
Comment[gl]=Engadido de StrongSwan
Comment[nb]=StrongSwan programtillegg
Comment[nds]=StrongSwan-Moduul
Comment[nl]=StrongSwan-plugin
Comment[pa]=StrongSwan ਪਲੱਗਇਨ
Comment[pt]='Plugin' do StrongSwan
Comment[pt_BR]=Plug-in StrongSwan
Comment[ro]=Modul StrongSwan
Comment[sk]=StrongSwan modul
Comment[sv]=Insticksprogram för StrongSwan
Comment[tr]=StrongSwan Eklentisi
Comment[uk]=Додаток StrongSwan
Comment[x-test]=xxStrongSwan Pluginxx
Comment[zh_TW]=StrongSwan 外掛程式
