[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_networkmanager09
InitialPreference=102
Name=NetworkManager 0.9
Name[bs]=NetworkManager 0.9
Name[ca]=NetworkManager 0.9
Name[cs]=NetworkManager 0.9
Name[da]=NetworkManager 0.9
Name[de]=NetworkManager 0.9
Name[es]=NetworkManager 0.9
Name[et]=NetworkManager 0.9
Name[fi]=NetworkManager 0.9
Name[fr]=NetworkManager 0.9
Name[gl]=NetworkManager 0.9
Name[hu]=NetworkManager 0.9
Name[ia]=NetworkManager 0.9
Name[it]=NetworkManager 0.9
Name[kk]=NetworkManager 0.9
Name[km]=NetworkManager 0.9
Name[mr]=संजाळ व्यवस्थापक 0.9
Name[nb]=NetworkManager 0.9
Name[nds]=Nettwark-Pleger 0.9
Name[nl]=NetworkManager 0.9
Name[pl]=ZarządcaSieci 0.9
Name[pt]=NetworkManager 0.9
Name[pt_BR]=NetworkManager 0.9
Name[ro]=NetworkManager 0.9
Name[ru]=NetworkManager 0.9
Name[sk]=NetworkManager 0.9
Name[sl]=NetworkManager 0.9
Name[sr]=Менаџер мреже 0.9
Name[sr@ijekavian]=Менаџер мреже 0.9
Name[sr@ijekavianlatin]=Menadžer mreže 0.9
Name[sr@latin]=Menadžer mreže 0.9
Name[sv]=Nätverkshantering 0.9
Name[uk]=NetworkManager 0.9
Name[x-test]=xxNetworkManager 0.9xx
Name[zh_CN]=网络管理器 0.9
Name[zh_TW]=NetworkManager 0.9
Comment=Network management using the NetworkManager daemon, version 0.9
Comment[bs]=Upravaljanje mrežom koristeći NetworkManager demon, verzija 0.9
Comment[ca]=Gestor de xarxes que usa el dimoni NetworkManager, versió 0.9
Comment[cs]=Správa sítě pomocí démona Networkmanageru, verze 0.9
Comment[da]=Netværkshåndtering med brug af NetworkManager-dæmonen, version 0.9
Comment[de]=Netzwerkverwaltung mit dem NetworkManager Version 0.9
Comment[es]=Gestión de redes que usa el demonio NetworkManager, versión 0.9
Comment[et]=Võrgu haldamine NetworkManageri deemoni versiooni 0.9 abil
Comment[fi]=Verkonhallinta NetworkManager-taustapalvelun versiolla 0.9
Comment[fr]=Gestion de réseau utilisant le démon NetworkManager, version 0.9
Comment[gl]=Xestión da rede usando o daemon NetworkManager, versión 0.9
Comment[hu]=Hálózatkezelés a NetworkManager 0.9 szolgáltatás segítségével
Comment[ia]=Gestion de rete usante le demone NetworkManager, version 0,9
Comment[it]=Gestione di rete utilizzando il demone NetworkManager, versione 0.9
Comment[kk]=NetworkManager (нұсқасы 0.9) қызметі көмегімен желіні басқару
Comment[km]=កា​រគ្រប់គ្រង​បណ្ដាញ ដោយ​ប្រើ​ដេមិន​កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ​កំណែ ០.៩
Comment[mr]=संजाळ व्यवस्थापक डीमन आवृत्ती 0.9 वापरणारा संजाळ व्यवस्थापक
Comment[nb]=Nettverksstyring ved bruk av  NetworkManager-nissen, versjon 0.9
Comment[nds]=Nettwarkpleeg mit den NetworkManager-Dämoon, Verschoon 0.9
Comment[nl]=Netwerkbeheer via de NetworkManager-daemon, versie 0.9
Comment[pl]=Zarządzanie siecią przy użyciu demona ZarządcySieci w wersji 0.9
Comment[pt]=Gestão da rede que usa o servidor do NetworkManager na versão 0.9
Comment[pt_BR]=Gerenciamento de rede usando a versão 0.9 do serviço NetworkManager
Comment[ro]=Gestiunea rețelei folosind demonul NetworkManager, versiunea 0.9
Comment[ru]=Управление сетью при помощи службы NetworkManager версии 0.9
Comment[sk]=Správa sietí používajúca démon NetworkManager verzie 0.9
Comment[sl]=Upravljanje z omrežji z uporabo pritajenega programa NetworkManager 0.9
Comment[sr]=Управљање мрежом преко демона Менаџера мреже, издања 0.9
Comment[sr@ijekavian]=Управљање мрежом преко демона Менаџера мреже, издања 0.9
Comment[sr@ijekavianlatin]=Upravljanje mrežom preko demona Menadžera mreže, izdanja 0.9
Comment[sr@latin]=Upravljanje mrežom preko demona Menadžera mreže, izdanja 0.9
Comment[sv]=Nätverkshantering med nätverkshanteringsdemonen, version 0.9
Comment[uk]=Керування мережею за допомогою фонової служби NetworkManager, вер. 0.9
Comment[x-test]=xxNetwork management using the NetworkManager daemon, version 0.9xx
Comment[zh_CN]=使用 NetworkManager 守护进程的网络管理工具，版本 0.9
Comment[zh_TW]=用 NetworkManager 伺服程式 v0.9 做網路管理
Icon=networkmanager
