[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_networkmanager09
InitialPreference=102
Name=NetworkManager 0.9
Comment=Network management using the NetworkManager daemon, version 0.9
Icon=networkmanager
