[Desktop Entry]
Encoding=UTF-8
Name=KNetworkManager
Name[x-test]=xxKNetworkManagerxx
GenericName=Network Manager
GenericName[da]=Netværkshåndtering
GenericName[de]=Netzwerkverwaltung
GenericName[es]=Gestor de red
GenericName[pt]=KNetworkManager
GenericName[pt_BR]=KNetworkManager
GenericName[ro]=Gestionar rețea
GenericName[sv]=Nätverkshantering
GenericName[tr]=Ağ Yöneticisi
GenericName[uk]=Керування мережею
GenericName[x-test]=xxNetwork Managerxx
Exec=knetworkmanager
Icon=networkmanager
Type=Application
Comment=A KDE frontend for NetworkManager
Comment[da]=En KDE-brugerflade til Networkmanager
Comment[de]=Eine KDE-Oberfläche für NetworkManager
Comment[pt]=Uma interface para KDE do NetworkManager
Comment[pt_BR]=Uma interface para KDE do NetworkManager
Comment[ro]=Interfață KDE pentru NetworkManager
Comment[sv]=Ett KDE-gränssnitt för NetworkManager
Comment[uk]=Графічна оболонка NetworkManager для KDE
Comment[x-test]=xxA KDE frontend for NetworkManagerxx
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-DCOP-ServiceType=Unique
X-KDE-autostart-condition=networkmanagementrc:General:Autostart:true
Categories=Qt;KDE;Network;Applet;
OnlyShowIn=KDE;

