[Desktop Entry]
Name=KNetworkManager
Name[bs]=KNetworkManager
Name[ca]=KNetworkManager
Name[cs]=KNetworkManager
Name[da]=KNetworkManager
Name[de]=KNetworkManager
Name[es]=KNetworkManager
Name[et]=KNetworkManager
Name[fi]=KNetworkManager
Name[fr]=KNetworkManager
Name[ga]=KNetworkManager
Name[gl]=KNetworkManager
Name[hu]=KNetworkManager
Name[ia]=KNetworkManager
Name[it]=KNetworkManager
Name[kk]=KNetworkManager
Name[km]=KNetworkManager
Name[lt]=KNetworkManager
Name[mr]=के संजाळ व्यवस्थापक
Name[nb]=KNetworkManager
Name[nds]=KDE-Nettwarkpleger
Name[nl]=KNetworkManager
Name[pl]=KNetworkManager
Name[pt]=KNetworkManager
Name[pt_BR]=KNetworkManager
Name[ro]=KNetworkManager
Name[ru]=KNetworkManager
Name[sk]=KNetworkManager
Name[sl]=KNetworkManager
Name[sr]=К‑менаџер-мреже
Name[sr@ijekavian]=К‑менаџер-мреже
Name[sr@ijekavianlatin]=K‑menadžer-mreže
Name[sr@latin]=K‑menadžer-mreže
Name[sv]=Knetworkmanager
Name[tr]=KNetworkManager
Name[uk]=KNetworkManager
Name[x-test]=xxKNetworkManagerxx
Name[zh_CN]=KDE 网络管理器
Name[zh_TW]=KNetworkManager
GenericName=Network Manager
GenericName[bs]=Upravitelj Mrežom
GenericName[ca]=Gestor de xarxa
GenericName[cs]=Network Manager
GenericName[da]=Netværkshåndtering
GenericName[de]=Netzwerkverwaltung
GenericName[es]=Gestor de redes
GenericName[et]=Võrguhaldur
GenericName[fi]=Verkonhallinta
GenericName[fr]=Gestionnaire de réseau
GenericName[ga]=Bainisteoir Líonra
GenericName[gl]=Xestor de redes
GenericName[hu]=Hálózatkezelő
GenericName[ia]=Network Manager (Gerente de Rete)
GenericName[it]=Gestore di rete
GenericName[kk]=Желі басқаруы
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
GenericName[lt]=Tinklo tvarkytojas
GenericName[mr]=संजाळ व्यवस्थापक
GenericName[nb]=Nettverksstyring
GenericName[nds]=Nettwarkpleger
GenericName[nl]=Netwerkbeheerder
GenericName[pl]=Zarządca sieci
GenericName[pt]=Gestor da Rede
GenericName[pt_BR]=Gerenciador de redes
GenericName[ro]=Administrator de rețea
GenericName[ru]=Управление сетью
GenericName[sk]=Správca siete
GenericName[sl]=Upravljalnik omrežja
GenericName[sr]=Менаџер мреже
GenericName[sr@ijekavian]=Менаџер мреже
GenericName[sr@ijekavianlatin]=Menadžer mreže
GenericName[sr@latin]=Menadžer mreže
GenericName[sv]=Nätverkshantering
GenericName[tr]=Ağ Yöneticisi
GenericName[uk]=Керування мережею
GenericName[x-test]=xxNetwork Managerxx
GenericName[zh_CN]=网络管理器
GenericName[zh_TW]=Network Manager
Exec=knetworkmanager
Icon=networkmanager
Type=Application
Comment=A KDE frontend for NetworkManager
Comment[bs]=KDE okruženje za upravljanje mrežom
Comment[ca]=Un frontal del KDE pel NetworkManager
Comment[cs]=KDE rozhraní pro NetworkManager
Comment[da]=En KDE-brugerflade til Networkmanager
Comment[de]=Eine KDE-Oberfläche für NetworkManager
Comment[es]=Una interfaz de KDE para NetworkManager
Comment[et]=KDE NetworkManageri kasutajaliides
Comment[fi]=KDE:n NetworkManager-käyttöliittymä
Comment[fr]=Une interface KDE pour NetworkManager
Comment[ga]=Comhéadan KDE ar NetworkManager
Comment[gl]=Unha interface de KDE para o Networkmanager
Comment[hu]=KDE előtétprogram a NetWorkManagerhez
Comment[ia]=Un interfacie de prime plano de KDE pro NetworkManager
Comment[it]=Un'interfaccia di KDE a NetworkManager
Comment[kk]=NetworkManager-дің KDE интерфейсі
Comment[km]=កម្មវិធី​ផ្នែក​ខាង​មុខ​របស់ KDE សម្រាប់​កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Comment[lt]=KDE išorinė Tinklo tvarkytuvės pusė
Comment[mr]=केडीई चा संजाळ व्यवस्थापकासाठी फ्रंटएन्ड
Comment[nb]=Et KDE-grensesnitt til NetworkManager
Comment[nds]=En KDE-Böversiet för »NetworkManager«
Comment[nl]=Een KDE-schil voor NetworkManager
Comment[pl]=Interfejs graficzny KDE dla Zarządcy sieci
Comment[pt]=Uma interface para KDE do NetworkManager
Comment[pt_BR]=Uma interface do NetworkManager para o KDE
Comment[ro]=Interfață KDE pentru NetworkManager
Comment[ru]=Интерфейс KDE для NetworkManager
Comment[sk]=KDE frontend pre NetworkManager
Comment[sl]=Začelje za NetworkManager za KDE
Comment[sr]=КДЕ прочеље за Менаџер мреже
Comment[sr@ijekavian]=КДЕ прочеље за Менаџер мреже
Comment[sr@ijekavianlatin]=KDE pročelje za Menadžer mreže
Comment[sr@latin]=KDE pročelje za Menadžer mreže
Comment[sv]=Ett KDE-gränssnitt för NetworkManager
Comment[tr]=NetworkManager için KDE arayüzü
Comment[uk]=Графічна оболонка NetworkManager для KDE
Comment[x-test]=xxA KDE frontend for NetworkManagerxx
Comment[zh_CN]=网络管理器的 KDE 前端
Comment[zh_TW]=NetworkManager 的 KDE 前端介面
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-DCOP-ServiceType=Unique
X-KDE-autostart-condition=networkmanagementrc:General:Autostart:true
Categories=Qt;KDE;Network;Applet;
OnlyShowIn=KDE;

