[Desktop Entry]
Name=KNetworkManager
Name[cs]=KNetworkManager
Name[da]=KNetworkManager
Name[de]=KNetworkManager
Name[es]=KNetworkManager
Name[fr]=KNetworkManager
Name[hu]=KNetworkManager
Name[nds]=KDE-Nettwarkpleger
Name[nl]=KNetworkManager
Name[pt]=KNetworkManager
Name[pt_BR]=KNetworkManager
Name[sk]=KNetworkManager
Name[sv]=Knetworkmanager
Name[th]=KNetworkManager
Name[uk]=KNetworkManager
Name[x-test]=xxKNetworkManagerxx
GenericName=Network Manager
GenericName[cs]=Network Manager
GenericName[da]=Netværkshåndtering
GenericName[de]=Netzwerkverwaltung
GenericName[es]=Gestor de red
GenericName[fr]=Gestionnaire de réseau
GenericName[hu]=Hálózatkezelő
GenericName[nds]=Nettwarkpleger
GenericName[nl]=Netwerkbeheer
GenericName[pt]=KNetworkManager
GenericName[pt_BR]=Gerenciador de redes
GenericName[sk]=Správca siete
GenericName[sv]=Nätverkshantering
GenericName[th]=ตัวจัดการเครือข่าย
GenericName[uk]=Керування мережею
GenericName[x-test]=xxNetwork Managerxx
Exec=knetworkmanager
Icon=networkmanager
Type=Application
Comment=A KDE frontend for NetworkManager
Comment[cs]=KDE rozhraní pro NetworkManager
Comment[da]=En KDE-brugerflade til Networkmanager
Comment[de]=Eine KDE-Oberfläche für NetworkManager
Comment[es]=Una interfaz de KDE para NetworkManager
Comment[fr]=Une interface KDE pour NetworkManager
Comment[hu]=KDE előtétprogram a NetWorkManagerhez
Comment[nds]=En KDE-Böversiet för »NetworkManager«
Comment[nl]=Een KDE-schil voor NetworkManager
Comment[pt]=Uma interface para KDE do NetworkManager
Comment[pt_BR]=Uma interface do NetworkManager para o KDE
Comment[sk]=KDE rozhranie pre NetworkManager
Comment[sv]=Ett KDE-gränssnitt för NetworkManager
Comment[th]=โปรแกรมฉากหน้าของ KDE ของตัวจัดการเครือข่าย
Comment[uk]=Графічна оболонка NetworkManager для KDE
Comment[x-test]=xxA KDE frontend for NetworkManagerxx
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-DCOP-ServiceType=Unique
X-KDE-autostart-condition=networkmanagementrc:General:Autostart:true
Categories=Qt;KDE;Network;Applet;
OnlyShowIn=KDE;

