[Desktop Entry]
Encoding=UTF-8
Name=KNetworkManager
Name[pa]=ਕੇਨੈੱਟਵਰਕਮੈਨੇਜਰ
Name[wa]=KManaedjeuRantoele
Name[x-test]=xxKNetworkManagerxx
GenericName=Network Manager
GenericName[da]=Netværkshåndtering
GenericName[de]=Netzwerkverwaltung
GenericName[es]=Gestor de red
GenericName[fr]=Outil de gestion du réseau
GenericName[hr]=Upravitelj Mrežom
GenericName[nb]=Nettverkshåndtering
GenericName[pa]=ਨੈੱਟਵਰਕ ਮੈਨੇਜਰ
GenericName[pt]=KNetworkManager
GenericName[pt_BR]=Gerenciador de rede
GenericName[ro]=Gestionar rețea
GenericName[sv]=Nätverkshantering
GenericName[tr]=Ağ Yöneticisi
GenericName[uk]=Керування мережею
GenericName[wa]=Manaedjeu del rantoele
GenericName[x-test]=xxNetwork Managerxx
Exec=knetworkmanager
Icon=knetworkmanager
Type=Application
Comment=A KDE frontend for NetworkManager
Comment[da]=En KDE-brugerflade til Networkmanager
Comment[de]=Eine KDE-Oberfläche für NetworkManager
Comment[es]=Una interfaz para KDE de NetworkManager
Comment[fr]=Une interface graphique KDE pour NetworkManager
Comment[hr]=KDE inačica Upravitelja Mrežama
Comment[nb]=Et KDE-grensesnitt til NetworkManager
Comment[pa]=ਨੈੱਟਵਰਕ ਮੈਨੇਜਰ ਲਈ ਕੇਡੀਈ ਫਰੰਟਐਂਡ
Comment[pt]=Uma interface para KDE do NetworkManager
Comment[pt_BR]=Uma interface do KDE para o NetworkManager
Comment[ro]=Interfață KDE pentru NetworkManager
Comment[sv]=Ett KDE-gränssnitt för NetworkManager
Comment[uk]=Графічна оболонка NetworkManager для KDE
Comment[wa]=En eterface grafike da KDE pol ManaedjeuRantoele
Comment[x-test]=xxA KDE frontend for NetworkManagerxx
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-DCOP-ServiceType=Unique
X-KDE-autostart-condition=networkmanagementrc:General:Autostart:true
Categories=Utility;TrayIcon;System;Applet;

