[Desktop Entry]
Name=KNetworkManager
GenericName=Network Manager
Exec=knetworkmanager
Icon=knetworkmanager
Type=Application
Comment=A KDE frontend for NetworkManager
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-DCOP-ServiceType=Unique
X-KDE-autostart-condition=networkmanagementrc:General:Autostart:true
Categories=Utility;TrayIcon;System;Applet;

