[Desktop Entry]
Name=KNetworkManager
Name[cs]=KNetworkManager
Name[da]=KNetworkManager
Name[de]=KNetworkManager
Name[el]=KNetworkManager
Name[en_GB]=KNetworkManager
Name[eo]=KNetworkManager
Name[es]=KNetworkManager
Name[et]=KNetworkManager
Name[fi]=KNetworkManager
Name[fr]=KNetworkManager
Name[gl]=KNetworkManager
Name[km]=KNetworkManager
Name[nb]=KNetworkManager
Name[nds]=KNetworkManager
Name[nl]=KNetworkManager
Name[pa]=ਕੇ-ਨੈੱਟਵਰਕਮੈਨੇਜਰ
Name[pt]=KNetworkManager
Name[pt_BR]=KNetworkManager
Name[ro]=KNetworkManager
Name[sk]=KNetworkManager
Name[sv]=KNetworkManager
Name[tr]=KNetworkManager
Name[uk]=KNetworkManager
Name[x-test]=xxKNetworkManagerxx
Name[zh_CN]=KNetworkManager
Name[zh_TW]=KNetworkManager
GenericName=Network Manager
GenericName[cs]=Network Manager
GenericName[da]=Netværkshåndtering
GenericName[de]=Netzwerkverwaltung
GenericName[el]=Διαχειριστής δικτύου
GenericName[en_GB]=Network Manager
GenericName[es]=Gestor de red
GenericName[et]=Võrguhaldur
GenericName[fi]=Verkon hallinta
GenericName[fr]=Outil de gestion du réseau
GenericName[gl]=Xestor da rede
GenericName[hr]=Mrežni upravitelj
GenericName[nb]=Nettverkshåndtering
GenericName[nds]=Nettwarkpleger
GenericName[nl]=Netwerkbeheer
GenericName[pa]=ਨੈੱਟਵਰਕ ਮੈਨੇਜਰ
GenericName[pt]=KNetworkManager
GenericName[pt_BR]=Gerenciador de rede
GenericName[ro]=Gestionar rețea
GenericName[sk]=Správca siete
GenericName[sv]=Nätverkshantering
GenericName[th]=โปรแกรมจัดการเครือข่าย
GenericName[tr]=Ağ Yöneticisi
GenericName[uk]=Керування мережею
GenericName[x-test]=xxNetwork Managerxx
GenericName[zh_CN]=网络管理器
GenericName[zh_TW]=網路管理員
Exec=knetworkmanager
Icon=knetworkmanager
Type=Application
Comment=A KDE frontend for NetworkManager
Comment[cs]=KDE rozhraní pro NetworkManager
Comment[da]=En KDE-brugerflade til Networkmanager
Comment[de]=Eine KDE-Oberfläche für NetworkManager
Comment[el]=Μια διασύνδεση περιβάλλοντος KDE για το NetworkManager
Comment[en_GB]=A KDE frontend for NetworkManager
Comment[es]=Interfaz de KDE para NetworkManager
Comment[et]=KDE NetworkManageri kasutajaliides
Comment[fi]=KDE-edusohjelma NetworkManageriin
Comment[fr]=Une interface graphique pour KDE pour NetworkManager
Comment[ga]=Comhéadan KDE ar NetworkManager
Comment[gl]=Unha interface de KDE para NetworkManager
Comment[nb]=Et KDE-grensesnitt til NetworkManager
Comment[nds]=En KDE-Böversiet för »NetworkManager«
Comment[nl]=Een KDE-schil voor NetworkManager
Comment[pa]=ਨੈੱਟਵਰਕਮੈਨੇਜੇਰ ਲਈ KDE ਮੁੱਖ
Comment[pt]=Uma interface para KDE do NetworkManager
Comment[pt_BR]=Uma interface do KDE para o NetworkManager
Comment[ro]=Interfață KDE pentru NetworkManager
Comment[sk]=KDE rozhranie pre NetworkManager
Comment[sv]=Ett KDE-gränssnitt för NetworkManager
Comment[tr]=NetworkManager için bir KDE ön yüzü
Comment[uk]=Графічна оболонка NetworkManager для KDE
Comment[x-test]=xxA KDE frontend for NetworkManagerxx
Comment[zh_CN]=NetworkManager 的 KDE 前端程序
Comment[zh_TW]=網路管理員的 KDE 前端介面
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-DCOP-ServiceType=Unique
X-KDE-autostart-condition=networkmanagementrc:General:Autostart:true
Categories=Utility;TrayIcon;System;Applet;

