[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_novellvpnui
X-NetworkManager-Services=org.freedesktop.NetworkManager.novellvpn
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagement_novellvpnui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Novell VPN (turnpike)
Name[ar]=Novell VPN (turnpike)
Name[bs]=Novell VPN
Name[ca]=VPN de Novell (turnpike)
Name[cs]=Novell VPN (turnpike)
Name[da]=Novell VPN (turnpike)
Name[de]=Novell VPN (Turnpike)
Name[es]=Novell VPN (turnpike)
Name[et]=Novell VPN (turnpike)
Name[fi]=Novell VPN (turnpike)
Name[fr]=VPN Novell (turnpike)
Name[gl]=VPN de Novell (turnpike)
Name[hu]=Novell VPN (turnpike)
Name[ia]=Novell VPN (turnpike)
Name[it]=Novell VPN (turnpike)
Name[kk]=Novell VPN (turnpike)
Name[km]=Novell VPN (turnpike)
Name[lt]=Novell VPN (greitkelis)
Name[mr]=नोव्हेल VPN (टर्नपाइक)
Name[nb]=Novell VPN (turnpike)
Name[nds]=Novell-VPN (Turnpike)
Name[nl]=Novell VPN (turnpike)
Name[pl]=Novell VPN (turnpike)
Name[pt]=VPN da Novell (turnpike)
Name[pt_BR]=VPN da Novell (turnpike)
Name[ro]=Novell VPN (turnpike)
Name[ru]=Novell VPN (turnpike)
Name[sk]=Novell VPN (turnpike)
Name[sl]=Novell VPN (turnpike)
Name[sr]=Новелов ВПН (Тернпајк)
Name[sr@ijekavian]=Новелов ВПН (Тернпајк)
Name[sr@ijekavianlatin]=Novellov VPN (turnpike)
Name[sr@latin]=Novellov VPN (turnpike)
Name[sv]=Novell VPN (turnpike)
Name[tr]=Novell VPN (Turnpike)
Name[uk]=Novell VPN (turnpike)
Name[x-test]=xxNovell VPN (turnpike)xx
Name[zh_CN]=Novell VPN (turnpike)
Name[zh_TW]=Novell VPN (turnpike)
Comment=Allows KNetworkManager to connect to Novell VPN (turnpike) VPNs.
Comment[ar]=تسمح لمدير الشبكة ك بالاتصال إلى شبكات Novell VPN turnpike
Comment[bs]=Omogučava KNetworkManageru da se konektuje na Novell VPN.
Comment[ca]=Permet al KNetworkManager connectar-se a la VPN de Novell (turnpike).
Comment[cs]=Umožní KNetworkManager připojit se k Novell VPN (turnpike).
Comment[da]=Lader KNetworkManager forbinde VPN med Novell VPN (turnpike).
Comment[de]=Ermöglicht KNetworkManager Verbindungen zu Novell VPNs (Turnpike) herzustellen.
Comment[es]=Permite que KNetworkManager se conecte a VPN de tipo Novell VPN (turnpike).
Comment[et]=Võimaldab KNetworkManageril ühenduda Novell VPN (turnpike) VPN-idega.
Comment[fi]=Sallii KNetworkManagerin yhdistää Novell VPN -verkkoihin (turnpike).
Comment[fr]=Permet à KNetworkManager de se connecter aux VPN Novell (turnpike).
Comment[gl]=Permite conectarse mediante KNetworkManager a redes VPN de Novell (turnpike).
Comment[hu]=Novell VPN (turnpike) kapcsolatok engedélyezése.
Comment[ia]=Permitte KNetworkManager de connecter a VPN de typo Novel VPN(turnpike).
Comment[it]=Consente a KNetworkManager di collegarsi a VPN Novell (turnpike).
Comment[kk]=KNetworkManager-ге Novell VPN (turnpike) VPN арқылы қосылуға мүмкіндік.
Comment[km]=អនុញ្ញាតឲ្យ KNetworkManager តភ្ជាប់​ទៅ Novell VPN (turnpike) VPNs ។
Comment[lt]=Leidžia KNetworkManager prisijungti prie Novell VPN (greitkelis) VPNs.
Comment[mr]=नोव्हेल VPN (टर्नपाइक) VPN व के-संजाळ-व्यवस्थापक यांच्या जुळवणीची परवानगी देतो.
Comment[nb]=Gjør at KNetworkManager kan koble til Novell VPN (turnpike) VPN-er.
Comment[nds]=Mit KNetworkManager na Novell-VPNs (Turnpike) tokoppeln
Comment[nl]=Staat KNetworkManager toe om naar Novell VPN (turnpike) VPN's te verbinden.
Comment[pl]=Pozwól KNetworkManager na połączenie do sieci VPN Novell VPN (turnpike).
Comment[pt]=Permite ao KNetworkManager ligar-se a VPN's da Novell (turnpike).
Comment[pt_BR]=Permite ao KNetworkManager conectar à VPNs da Novell (turnpike).
Comment[ro]=Permite KNetworkManager să se conecteze la VPN-uri Novell VPN (turnpike.)
Comment[ru]=Позволяет KNetworkManager соединяться с Novell VPN (turnpike).
Comment[sk]=Umožňuje KNetworkManageru pripojenie k Novell VPN (turnpike)
Comment[sl]=KNetworkManagerju omogoča povezavo z VPN-ji Novell VPN (turnpike)
Comment[sr]=Омогућава К‑менаџеру-мреже повезивање на Новелове (Тернпајк) ВПН‑ове
Comment[sr@ijekavian]=Омогућава К‑менаџеру-мреже повезивање на Новелове (Тернпајк) ВПН‑ове
Comment[sr@ijekavianlatin]=Omogućava K‑menadžeru-mreže povezivanje na Novellove (turnpike) VPN‑ove
Comment[sr@latin]=Omogućava K‑menadžeru-mreže povezivanje na Novellove (turnpike) VPN‑ove
Comment[sv]=Tillåter nätverkshantering att ansluta till Novell VPN (turnpike).
Comment[tr]=KNetworkManager'ın Novell VPN (turnpike) VPNlere bağlanmasına izin verir.
Comment[uk]=Надає змогу KNetworkManager з’єднуватися з Novell VPN (turnpike).
Comment[x-test]=xxAllows KNetworkManager to connect to Novell VPN (turnpike) VPNs.xx
Comment[zh_CN]=支持网络管理器连接到 Novell VPN (turnpike)。
Comment[zh_TW]=允許 KNetworkManager 連線到 Novell VPN (turnpike) 的 VPN 網路。

