[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KNetworkManager/VpnUiPlugin
Name=KNetworkManager VPN UI Plugin
Name[el]=Πρόσθετο VPN UI του KNetworkManager
Name[fr]=Module VPN UI KNetworkManager
Name[gl]=Extensión de GUI VPN para KNetworkManager 
Name[ja]=KNetworkManager の VPN UI プラグイン
Name[km]=កម្មវិធី​ជំនួយ​ចំណុច​ប្រទាក់​អ្នក​ប្រើ KNetworkManager
Name[nds]=KNetworkManager-VPN-Böversietmoduul
Name[pa]=ਕੇਨੈੱਟਵਰਕ-ਮੈਨੇਜਰ VPN UI ਪਲੱਗਇਨ
Name[pt]='Plugin' de Interface VPN do KNetworkManager
Name[pt_BR]='Plugin' de Interface VPN do KNetworkManager
Name[sv]=Nätverkshantering VPN-insticksprogram
Name[uk]=Додаток інтерфейсу користувача VPN KNetworkManager
Name[x-test]=xxKNetworkManager VPN UI Pluginxx
Comment=Defines KNetworkManager UI Plugins
Comment[el]=Καθορίζει πρόσθετα UI του KNetworkManager
Comment[fr]=Définis les modules d'interface graphique pour KNetworkManager
Comment[gl]=Define extensión de UI para KNetworkManager
Comment[ja]=KNetworkManager UI プラグインの説明
Comment[km]=កំណត់​កម្មវិធី​ជំនួយ​ចំណុច​ប្រទាក់​អ្នក​ប្រើ KNetworkManager
Comment[nds]=Leggt KNetworkManager-Böversietmodulen fast
Comment[pa]=ਕੇਨੈੱਟਵਰਕ-ਮੈਨੇਜਰ UI ਪਲੱਗਇਨ ਪ੍ਰੀਭਾਸ਼ਾ
Comment[pt]=Define os 'plugins' de interface do KNetworkManager
Comment[pt_BR]=Define os 'plugins' de interface do KNetworkManager
Comment[sv]=Definierar nätverkshanteringens insticksprogram
Comment[uk]=Визначає додатки інтерфейсу користувача KNetworkManager
Comment[x-test]=xxDefines KNetworkManager UI Pluginsxx
