[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KNetworkManager/VPNUIPlugin
Name=KNetworkManager VPN UI Plugin
Comment=Defines KNetworkManager UI Plugins
