[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NetworkManagement/VpnUiPlugin
Name=Network Management VPN UI Plugin
Name[da]=UI-plugin til VPN-netværkshåndtering
Name[en_GB]=Network Management VPN UI Plugin
Name[es]=Complemento de interfaz de usuario para Network Management VPN
Name[et]=Võrguhalduri VPN-i UI plugin
Name[pt]='Plugin' de Interface VPN da Gestão de Rede
Name[sv]=Insticksprogram till nätverkshantering med VPN-användargränssnitt
Name[tr]=Ağ Yönetimi VPN Arayüzü Eklentisi
Name[uk]=Додаток інтерфейсу користувача керування VPN
Name[x-test]=xxNetwork Management VPN UI Pluginxx
Comment=Defines KDE Network Management UI Plugins
Comment[da]=Definerer UI-plugins til KDE's netværkshåndtering
Comment[en_GB]=Defines KDE Network Management UI Plugins
Comment[es]=Define los complementos de interfaz de usuario para la gestión de red de KDE
Comment[et]=Võrguhalduri UI pluginate määratlus
Comment[pt]=Define os 'plugins' de interface da Gestão de Rede
Comment[sv]=Definierar insticksprogram för KDE:s nätverkshantering
Comment[tr]=KDE Ağ Yönetimi Eklentilerini Tanımlar
Comment[uk]=Визначає додатки інтерфейсу користувача керування мережею KDE
Comment[x-test]=xxDefines KDE Network Management UI Pluginsxx
