[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NetworkManagement/VpnUiPlugin
Name=Network Management VPN UI Plugin
Name[cs]=VPN UI modul pro správu sítě
Name[da]=UI-plugin til VPN-netværkshåndtering
Name[de]=Netzwerkverwaltung VPN-Modul
Name[el]=Πρόσθετο περιβάλλοντος χρήστη διαχείρισης δικτύου VPN 
Name[en_GB]=Network Management VPN UI Plugin
Name[es]=Complemento de interfaz de usuario para Network Management VPN
Name[et]=Võrguhalduri VPN-i UI plugin
Name[fr]=Module d'interface graphique pour la gestion d'un réseau VPN
Name[gl]=Extensión de UI da VPN para a xestión da rede
Name[nb]=Programtillegg til nettverksstyring med VPN brukerflate
Name[nds]=Nettwarkpleger-VPN-Böversietmoduul
Name[nl]=Netwerkbeheer VPN UI-plugin
Name[pa]=ਨੈੱਟਵਰਕ ਪਰਬੰਧ VPN UI ਪਲੱਗਇਨ
Name[pt]='Plugin' de Interface VPN da Gestão de Rede
Name[pt_BR]=Plug-in de interface do gerenciamento de redes VPN
Name[sk]=Modul pre správu siete VPN
Name[sv]=Insticksprogram till nätverkshantering med VPN-användargränssnitt
Name[tr]=Ağ Yönetimi VPN Arayüzü Eklentisi
Name[uk]=Додаток інтерфейсу користувача керування VPN
Name[x-test]=xxNetwork Management VPN UI Pluginxx
Name[zh_TW]=網路管理 VPN 使用者介面外掛程式
Comment=Defines KDE Network Management UI Plugins
Comment[da]=Definerer UI-plugins til KDE's netværkshåndtering
Comment[de]=Legt die Module der KDE-Netzwerkverwaltung fest
Comment[el]=Προσδιορίζει τα πρόσθετα περιβάλλοντος χρήστη του διαχειριστή δικτύου του KDE
Comment[en_GB]=Defines KDE Network Management UI Plugins
Comment[es]=Define los complementos de interfaz de usuario para la gestión de red de KDE
Comment[et]=Võrguhalduri UI pluginate määratlus
Comment[fi]=Määrittelee KDE:n verkonhallinnan käyttöliittymäliitännäiset
Comment[fr]=Défini les modules d'interface graphique pour la gestion d'un réseau VPN
Comment[gl]=Define as extensións de UI da xestión da rede de KDE
Comment[nb]=Definerer brukerflate-tillegg til KDE nettverksstyring
Comment[nds]=Leggt KDE-Nettwarkpleeg-Böversietmodulen fast
Comment[nl]=Definieert KDE netwerkbeheer UI-plugins
Comment[pt]=Define os 'plugins' de interface da Gestão de Rede
Comment[pt_BR]=Define os plug-ins de interface do gerenciamento de redes VPN
Comment[sk]=Definuje moduly pre správu siete KDE
Comment[sv]=Definierar insticksprogram för KDE:s nätverkshantering
Comment[tr]=KDE Ağ Yönetimi Eklentilerini Tanımlar
Comment[uk]=Визначає додатки інтерфейсу користувача керування мережею KDE
Comment[x-test]=xxDefines KDE Network Management UI Pluginsxx
Comment[zh_TW]=定義 KDE 網路管理使用者介面外掛程式
