[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NetworkManagement/VpnUiPlugin
Name=Network Management VPN UI Plugin
Name[cs]=VPN UI modul pro správu sítě
Name[da]=UI-plugin til VPN-netværkshåndtering
Name[de]=Netzwerkverwaltung VPN-Modul
Name[fr]=Module externe d'interface utilisateur VPN de gestion de réseau
Name[nb]=Programtillegg til nettverksstyring med VPN brukerflate
Name[nds]=Nettwarkpleger-VPN-Böversietmoduul
Name[nl]=Netwerkbeheer VPN UI-plugin
Name[pt]='Plugin' de Interface VPN da Gestão de Rede
Name[pt_BR]=Plug-in de interface VPN do gerenciamento de redes
Name[sk]=Modul pre správu siete VPN
Name[sl]=Vstavek vmesnika za omrežno upravljanje VPN
Name[sv]=Insticksprogram till nätverkshantering med VPN-användargränssnitt
Name[th]=โปรแกรมเสริมส่วนติดต่อผู้ใช้แบบ VPN ของการจัดการเครือข่าย
Name[uk]=Додаток інтерфейсу користувача керування VPN
Name[x-test]=xxNetwork Management VPN UI Pluginxx
Comment=Defines KDE Network Management UI Plugins
Comment[da]=Definerer UI-plugins til KDE's netværkshåndtering
Comment[de]=Legt die Module der KDE-Netzwerkverwaltung fest
Comment[fr]=Définit les modules externes d'interface utilisateur de gestion de réseau
Comment[nb]=Definerer brukerflate-tillegg til KDE nettverksstyring
Comment[nds]=Leggt Böversietmodulen för de KDE-Nettwarkpleeg fast
Comment[nl]=Definieert KDE netwerkbeheer UI-plugins
Comment[pt]=Define os 'plugins' de interface da Gestão de Rede
Comment[pt_BR]=Define os plug-ins de interface do gerenciamento de redes
Comment[sk]=Definuje moduly pre správu siete KDE
Comment[sl]=Določa vstavke za KDE-jev vmesnik za omrežno upravljanje
Comment[sv]=Definierar insticksprogram för KDE:s nätverkshantering
Comment[th]=กำหนดโปรแกรมเสริมส่วนติดต่อผู้ใช้ของการจัดการเครือข่าย KDE
Comment[uk]=Визначає додатки інтерфейсу користувача керування мережею KDE
Comment[x-test]=xxDefines KDE Network Management UI Pluginsxx
