[Desktop Entry]
Comment=Connect to the Internet
Comment[ar]=اتصل بالإنترنت
Comment[bs]=Povezivanje na Internet
Comment[ca]=Connecta a Internet
Comment[cs]=Připojit se na Internet
Comment[da]=Forbind til internettet
Comment[de]=Mit dem Internet verbinden
Comment[es]=Conectar a Internet
Comment[et]=Ühendumine internetti
Comment[fi]=Yhdistä internetiin
Comment[fr]=Se connecte à l'Internet
Comment[gl]=Conectar á internet.
Comment[hu]=Kapcsolódás az Internethez
Comment[ia]=Connecte a Internet
Comment[it]=Connetti a Internet
Comment[kk]=Интернетке қосылу
Comment[km]=តភ្ជាប់​អ៊ីនធឺណិត
Comment[lt]=Prisijungti prie interneto
Comment[mr]=महाजाळला जुळवा
Comment[nb]=Koble til Internett
Comment[nds]=An't Internet tokoppeln
Comment[nl]=Met internet verbinden
Comment[pl]=Połącz z internetem
Comment[pt]=Ligar-se à Internet
Comment[pt_BR]=Conectar à Internet
Comment[ro]=Conectare la Internet
Comment[ru]=Подключения к сети Интернет
Comment[sk]=Pripojiť k Internetu
Comment[sl]=Poveži se na internet
Comment[sr]=Повезивање на Интернет
Comment[sr@ijekavian]=Повезивање на Интернет
Comment[sr@ijekavianlatin]=Povezivanje na Internet
Comment[sr@latin]=Povezivanje na Internet
Comment[sv]=Anslut till Internet
Comment[tr]=Internet'e bağlan
Comment[uk]=Встановити з’єднання з мережею Інтернет
Comment[x-test]=xxConnect to the Internetxx
Comment[zh_CN]=连接到互联网
Comment[zh_TW]=連線到網際網路
Encoding=UTF-8
Keywords=
Name=Network Connections
Name[ar]=وصلات الشبكة
Name[bs]=Konekcije mreže
Name[ca]=Connexions de xarxa
Name[cs]=Síťová spojení
Name[da]=Netværksforbindelser
Name[de]=Netzwerkverbindungen
Name[es]=Conexiones de red
Name[et]=Võrguühendused
Name[fi]=Verkkoyhteydet
Name[fr]=Connexions réseau
Name[ga]=Ceangail Líonra
Name[gl]=Conexións de rede
Name[hu]=Hálózati kapcsolatok
Name[ia]=Connexiones de rete
Name[it]=Connessioni di rete
Name[kk]=Желілік қосылымдарды
Name[km]=ការ​តភ្ជាប់​បណ្ដាញ
Name[lt]=Tinklo ryšiai
Name[mr]=संजाळ जुळवण्या
Name[nb]=Nettverksforbindelser
Name[nds]=Nettwarkverbinnen
Name[nl]=Netwerkverbindingen
Name[pl]=Połączenia sieciowe
Name[pt]=Ligações de Rede
Name[pt_BR]=Conexões de rede
Name[ro]=Conexiuni de rețea
Name[ru]=Сетевые соединения
Name[sk]=Sieťové pripojenia
Name[sl]=Omrežne povezave
Name[sr]=Мрежне везе
Name[sr@ijekavian]=Мрежне везе
Name[sr@ijekavianlatin]=Mrežne veze
Name[sr@latin]=Mrežne veze
Name[sv]=Nätverksanslutningar
Name[tr]=Ağ Bağlantıları
Name[uk]=Мережеві з'єднання
Name[x-test]=xxNetwork Connectionsxx
Name[zh_CN]=网络连接
Name[zh_TW]=網路連線
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=networkconnections
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,300
X-Plasma-MainScript=code/main.qml
X-Plasma-RemoteLocation=
