[Desktop Entry]
Comment=Connect to the Internet
Comment[ca]=Connecta a Internet
Comment[cs]=Připojit se na Internet
Comment[da]=Forbind til internettet
Comment[el]=Σύνδεση με το Διαδίκτυο
Comment[es]=Conectarse a Internet
Comment[et]=Ühendumine internetti
Comment[hu]=Kapcsolódás az Internethez
Comment[km]=តភ្ជាប់​ទៅកាន់​អ៊ីនធឺណិត​
Comment[nl]=Met internet verbinden
Comment[pt]=Ligar-se à Internet
Comment[pt_BR]=Conectar à Internet
Comment[ro]=Conectare la Internet
Comment[sv]=Anslut till Internet
Comment[tr]=Internet'e bağlan
Comment[ug]=تۇتاش تورغا ئۇلا
Comment[uk]=Встановити з’єднання з мережею Інтернет
Comment[x-test]=xxConnect to the Internetxx
Comment[zh_TW]=連線到網際網路
Encoding=UTF-8
Keywords=
Name=Network Connections
Name[ca]=Connexions de xarxa
Name[ca@valencia]=Connexions de xarxa
Name[cs]=Síťová spojení
Name[da]=Netværksforbindelser
Name[de]=Netzwerkverbindungen
Name[el]=Συνδέσεις δικτύου
Name[en_GB]=Network Connections
Name[es]=Conexiones de red
Name[et]=Võrguühendused
Name[fr]=Connexions réseau
Name[hu]=Hálózati kapcsolatok
Name[km]=ការ​តភ្ជាប់​បណ្ដាញ​
Name[lt]=Tinklo ryšiai
Name[nb]=Nettverksforbindelser
Name[nds]=Nettwarkverbinnen
Name[nl]=Netwerkverbindingen
Name[pa]=ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ
Name[pt]=Ligações de Rede
Name[pt_BR]=Conexões de rede
Name[ro]=Conexiuni de rețea
Name[ru]=Сетевые соединения
Name[sk]=Sieťové pripojenia
Name[sl]=Omrežne povezave
Name[sv]=Nätverksanslutningar
Name[th]=การเชื่อมต่อเครือข่าย
Name[tr]=Ağ Bağlantıları
Name[ug]=تور باغلىنىشلىرى
Name[uk]=Мережеві з'єднання
Name[x-test]=xxNetwork Connectionsxx
Name[zh_TW]=網路連線
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=networkconnections
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,300
X-Plasma-MainScript=code/main.qml
X-Plasma-RemoteLocation=
