[Desktop Entry]
Comment=Connect to the Internet
Comment[ca]=Connecta a Internet
Comment[cs]=Připojit se na Internet
Comment[de]=Mit dem Internet verbinden
Comment[nb]=Koble til Internett
Comment[nl]=Met internet verbinden
Comment[pt]=Ligar-se à Internet
Comment[pt_BR]=Conectar à Internet
Comment[sv]=Anslut till Internet
Comment[uk]=Встановити з’єднання з мережею Інтернет
Comment[x-test]=xxConnect to the Internetxx
Encoding=UTF-8
Keywords=
Name=Network Connections
Name[ca]=Connexions de xarxa
Name[cs]=Síťová spojení
Name[de]=Netzwerkverbindungen
Name[nb]=Nettverksforbindelser
Name[nds]=Nettwarkverbinnen
Name[nl]=Netwerkverbindingen
Name[pt]=Ligações de Rede
Name[pt_BR]=Conexões de rede
Name[sv]=Nätverksanslutningar
Name[uk]=Мережеві з'єднання
Name[x-test]=xxNetwork Connectionsxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=networkconnections
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,300
X-Plasma-MainScript=code/main.qml
X-Plasma-RemoteLocation=
