[Desktop Entry]
Type=Service
Icon=
ServiceTypes=KNetworkManager/VpnUiPlugin
X-KDE-Library=knetworkmanager4_openvpnui
X-NetworkManager-Services=openvpn
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=knetworkmanager4_openvpnui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=OpenVPN
Name[x-test]=xxOpenVPNxx
Comment=OpenVPN plugin
Comment[el]=πρόσθετο OpenVPN
Comment[fr]=Module OpenVPN
Comment[gl]=Extensión de OpenVPN
Comment[ja]=OpenVPN プラグイン
Comment[pt]='Plugin' do OpenVPN
Comment[pt_BR]='Plugin' do OpenVPN
Comment[sv]=Insticksprogram för OpenVPN
Comment[uk]=Додаток OpenVPN
Comment[x-test]=xxOpenVPN pluginxx

