[Desktop Entry]
Type=Service
Icon=
ServiceTypes=NetworkManagement/VpnUiPlugin
X-KDE-Library=networkmanagement_openvpnui
X-NetworkManager-Services=openvpn
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=networkmanagement_openvpnui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=OpenVPN
Name[cs]=OpenVPN
Name[da]=OpenVPN
Name[de]=OpenVPN
Name[el]=OpenVPN
Name[en_GB]=OpenVPN
Name[eo]=OpenVPN
Name[es]=OpenVPN
Name[et]=OpenVPN
Name[fi]=OpenVPN
Name[fr]=OpenVPN
Name[ga]=OpenVPN
Name[gl]=OpenVPN
Name[km]=OpenVPN
Name[nb]=OpenVPN
Name[nds]=OpenVPN
Name[nl]=OpenVPN
Name[pa]=OpenVPN
Name[pt]=OpenVPN
Name[pt_BR]=OpenVPN
Name[ro]=OpenVPN
Name[sk]=OpenVPN
Name[sv]=OpenVPN
Name[tr]=OpenVPN
Name[uk]=OpenVPN
Name[x-test]=xxOpenVPNxx
Name[zh_TW]=OpenVPN
Comment=OpenVPN plugin
Comment[cs]=Modul OpenVPN
Comment[da]=OpenVPN-plugin
Comment[de]=OpenVPN-Modul
Comment[el]=Πρόσθετο OpenVPN
Comment[en_GB]=OpenVPN plugin
Comment[es]=Complemento OpenVPN
Comment[et]=OpenVPN-i plugin
Comment[fi]=OpenVPN-liitännäinen
Comment[fr]=Module OpenVPN
Comment[ga]=Breiseán OpenVPN
Comment[gl]=Engadido de OpenVPN
Comment[km]=OpenVPN plugin
Comment[nb]=OpenVPN programtillegg
Comment[nds]=OpenVPN-Moduul
Comment[nl]=OpenVPN-plugin
Comment[pa]=OpenVPN ਪਲੱਗਇਨ
Comment[pt]='Plugin' do OpenVPN
Comment[pt_BR]=Plug-in OpenVPN
Comment[ro]=Modul OpenVPN
Comment[sk]=OpenVPN modul
Comment[sv]=Insticksprogram för OpenVPN
Comment[tr]=OpenVPN eklentisi
Comment[uk]=Додаток OpenVPN
Comment[x-test]=xxOpenVPN pluginxx
Comment[zh_TW]=OpenVPN 外掛程式

